<div class="accounts-index">

 <div class="table">
  <div class="header centered">
   Tutti i conti
   <input type="text" placeholder="Cerca per nome" ng-model="queryFilter" ng-keypress="$event.keyCode == 13 && search()"/>
   Ordina per <select ng-model="queryOrder" ng-change="search()"><option value="0">nome</option><option value="1">saldo</option><option value="2">attività</option></select>
  </div>
  <div when-scrolled="loadMore()" class="body">
   <div ng-show="!accounts.length && !accountsError">
    Sto caricando i dati...
   </div>
   <div ng-repeat="a in accounts" class="acc-row" ng-click="showAccount(a[4])">
    <div style="opacity: {{ a[7] | alphaTimeDiff }}">
    <div class="acc-name">{{ a[1] }} {{ a[2] }} {{ a[3] }}<br/><span ng-show="a[7]">Ultimo movimento: {{ a[7] | humanTimeDiff }} (il  {{ a[7] | date }})</span><span ng-hide="a[7]">Ancora nessun movimento effettuato.</span></div>
    <div class="acc-amount">{{ a[5] | currency : a[6] }}</div>
    </div>
   </div>
   <div ng-show="accountsError">
    Errore nel caricamento dei dati: {{accountsError}}.
   </div>
   <div ng-show="!accountsError && !concluded" ng-click="loadMore()">Carica altri conti</div>
   <div ng-show="!accountsError && concluded">Nessun conto ulteriore</div>
  </div>
 </div>

</div>
