<div class="accounts-index">

 <div class="table">
  <div class="header centered">
   Tutti i conti
  </div>
  <div when-scrolled="loadMore()" class="body">
   <div ng-show="!accounts.length && !accountsError">
    Sto caricando i dati...
   </div>
   <div ng-repeat="a in accounts" class="acc-row" ng-click="showAccount(a[4])">
    <div class="acc-name">{{ a[1] }} {{ a[2] }} {{ a[3] }}</div>
    <div class="acc-amount">{{ a[5] | currency : a[6] }}</div>
   </div>
   <div ng-show="accountsError">
    Errore nel caricamento dei dati: {{accountsError}}.
   </div>
  </div>
 </div>

</div>
