<div class="deposit">
 <div class="lines-table">
  <div class="body">
   <div class="actions">
    <div><label for="tdate">Data operazione:</label><span class="field">{{trans.tdate | date}}</span></div>
    <div><label for="tdesc">Descrizione e note:</label><span class="field">{{trans.tdesc}}</span></div>
   </div>

   <div ng-show="autocompletionDataError">
     Caricamento fallito. Causa: {{autocompletionDataError}}.
   </div>
   <div class="actions">

   <div>
       Cancellazione effettuata da <span ng-if="!viewableContacts">{{operator.first_name}} {{operator.last_name}}</span><a ng-if="viewableContacts" href="#/person/{{operator.pid}}/detail">{{operator.first_name}} {{operator.last_name}}</a>, il {{log_date | date}}.
   </div>
   <div ng-show="modifies">
       Dettagli della transazione cancellata: <button ng-click="showTransaction(modifies)">Esamina</button>
   </div>
   <div ng-show="modified_by">
	   <em>Attenzione</em>. Questa cancellazione è stata annullata da una successiva modifica. <button ng-click="showTransaction(modified_by)">Esamina</button>
   </div>
   </div>
  </div>
 </div>
</div>
