<div ng-if="readonly" class="deposit">
 <div class="lines-table">
  <div class="body">
   <div class="actions">
    <div><label for="tdate">Data consegna:</label><span class="field">{{trans.tdate | date}}</span></div>
    <div><label for="tdesc">Descrizione e note:</label><span class="field">{{trans.tdesc}}</span></div>
   </div>

   <div class="header" ng-hide="autocompletionDataError">
    Chi ha ritirato i prodotti:
   </div>
   <div ng-repeat="l in trans.clients | filter:filledLine" class="row">
    <div class="row-who field"><span ng-repeat="p in l.accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" href="{{ p.pid && viewableContacts ? '#/person/' + p.pid + '/detail' : '#/account/' + l.account + '/detail'}}">{{p.name}}</a><span ng-hide="$last">, </span></span></div>
    <div class="row-amount field">{{l.amount | currency : currency[1] }}</div>
    <div class="row-notes field">{{l.notes}}&nbsp;</div>
   </div>

   <div class="header" ng-hide="!(trans.producers | filter:filledLine).length || autocompletionDataError">
    Fornitori:
   </div>
   <div ng-repeat="l in trans.producers | filter:filledLine" class="row">
    <div class="row-who field"><span ng-repeat="p in l.accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" href="{{ p.pid && viewableContacts ? '#/person/' + p.pid + '/detail' : '#/account/' + l.account + '/detail'}}">{{p.name}}</a><span ng-hide="$last">, </span></span></div>
    <div class="row-amount field">{{l.amount | currency : currency[1] }}</div>
    <div class="row-notes field">{{l.notes}}&nbsp;</div>
   </div>

   <div class="header" ng-hide="!(trans.expenses | filter:filledLine).length || autocompletionDataError">
    Altre spese:
   </div>
   <div ng-repeat="l in trans.expenses | filter:filledLine" class="row">
    <div class="row-who field">{{l.notes}}&nbsp;</div>
    <div class="row-amount field">{{l.amount | currency : currency[1] }}</div>
   </div>

   <div ng-show="autocompletionDataError">
     Caricamento fallito. Causa: {{autocompletionDataError}}.
   </div>
   <div class="actions">
    <div>
        <span ng-show="!currencyError && totalAmount > 0 && difference < .01">Totale pagamenti: {{totalAmount | currency : currency[1] }}</span>
        </div>
   <div>
       Movimento inserito da <span ng-if="!viewableContacts">{{operator.first_name}} {{operator.last_name}}</span><a ng-if="viewableContacts" href="#/person/{{operator.pid}}/detail">{{operator.first_name}} {{operator.last_name}}</a>, il {{log_date | date}}.
   </div>
   <div ng-show="modifies">
       Questo inserimento ne modifica uno precedente. <button ng-click="showTransaction(modifies)">Esamina</button>
   </div>
   <div ng-show="modified_by">
	   <em>Attenzione</em>. Questo inserimento è stato annullato da una successiva modifica. <button ng-click="showTransaction(modified_by)">Esamina</button>
   </div>
   <button ng-show="canEdit && !modified_by" ng-click="modifyTransaction()">Modifica o cancella</button>
<!--
    <button ng-disabled="!csaId || !payment.$valid || !totalAmount || difference >= .01" ng-click="savePayment()">Registra in cassa</button>
    <button ng-disabled="confirmDelete" ng-show="transId != 'new'" ng-click="confirmCancelPayment()">Elimina la registrazione dei pagamenti</button>
    <button ng-show="confirmDelete" ng-click="cancelPayment()">Conferma eliminazione</button>
-->
   </div>
  </div>
 </div>
</div>
<form ng-if="!readonly" ng-controller="TransactionPayment" name="payment" class="deposit" ng-submit="return;">
 <div class="lines-table">
  <div class="body">
   <div class="actions">
    <div class="line"><label for="tdate">Data consegna:</label><input type="date" id="tdate" ng-model="trans.tdate"/></div>
    <div class="line"><label for="tdesc">Descrizione e note:</label><textarea ng-model="trans.tdesc"></textarea></div>
   </div>

   <div class="header" ng-hide="autocompletionDataError">
    Chi ha ritirato i prodotti:
   </div>
   <div ng-repeat="l in trans.clients" class="row">
    <ng:form name="lineForm">
    <div class="row-who">
     <div><mac-autocomplete
            name="account"
            mac-placeholder="'Chi ha ordinato'"
            mac-autocomplete-source="autocompletionData"
            mac-autocomplete-delay="300"
            mac-autocomplete-on-select="focusAmount('amountc')"
            ng-model="l.accountName"
            ng-blur="$last && l.account && $parent.addLine(trans.clients)"
            gm-account
            /></div>
	 <div class="error-message" ng-show="lineForm.account.$error.accountMatch">Nome non valido</div>
	 <div class="error-message" ng-show="lineForm.account.$error.amountWithoutAccount">Specificare chi ha pagato</div>
    </div>
    <div class="row-amount">
     <input type="number"
            name="amount"
            placeholder="Quanto"
            ng-model="l.amount"
            ng-blur="$parent.updateTotalAmount() || ($last && l.account && $parent.addLine(trans.clients))"
            gm-amount
            id="amountc{{$index}}"
            /> <!-- TODO: fare text + smart-float! -->
	 <div class="error-message" ng-show="lineForm.amount.$error.number">Inserisci un numero</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.decimals">Troppi decimali</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.accountWithoutAmount">Specificare l'importo</div>
    </div>
    <div class="row-notes">
     <input type="text"
            placeholder="Note"
            ng-model="l.notes"
            ng-blur="$last && l.account && $parent.addLine(trans.clients)"
            />
    </div>
    </ng:form>
   </div>

   <div class="header" ng-hide="autocompletionDataError">
    Fornitori:
   </div>
   <div ng-repeat="l in trans.producers" class="row">
    <ng:form name="lineForm">
    <div class="row-who">
     <div><mac-autocomplete
            name="account"
            mac-placeholder="'Fornitore'"
            mac-autocomplete-source="autocompletionData"
            mac-autocomplete-delay="300"
            mac-autocomplete-on-select="focusAmount('amountp')"
            ng-model="l.accountName"
            ng-blur="$last && l.account && $parent.addLine(trans.producers)"
            gm-account
            /></div>
	 <div class="error-message" ng-show="lineForm.account.$error.accountMatch">Nome non valido</div>
	 <div class="error-message" ng-show="lineForm.account.$error.amountWithoutAccount">Specificare chi ha pagato</div>
    </div>
    <div class="row-amount">
     <input type="number"
            name="amount"
            placeholder="Quanto"
            ng-model="l.amount"
            ng-blur="$parent.updateTotalInvoice(lineForm) || ($last && l.account && $parent.addLine(trans.producers))"
            gm-amount
            id="amountp{{$index}}"
            /> <!-- TODO: fare text + smart-float! -->
	 <div class="error-message" ng-show="lineForm.amount.$error.number">Inserisci un numero</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.decimals">Troppi decimali</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.accountWithoutAmount">Specificare l'importo</div>
    </div>
    <div class="row-notes">
     <input type="text"
            placeholder="Note"
            ng-model="l.notes"
            ng-blur="$last && l.account && $parent.addLine(trans.producers)"
            />
    </div>
    </ng:form>
   </div>

<!--
   <div class="header" ng-hide="autocompletionDataError">
    Altre spese:
   </div>
   <div ng-repeat="l in trans.expenses" class="row">
    <ng:form name="lineForm">
    <div class="row-who">
     <div><mac-autocomplete
            name="notes"
            mac-placeholder="'Descrizione della spesa'"
            mac-autocomplete-source="autocompletionExpenses"
            mac-autocomplete-delay="300"
            mac-autocomplete-on-select="focusAmount('amounte')"
            ng-model="l.notes"
            ng-blur="$last && l.notes && $parent.addLine(trans.expenses)"
            gm-expense
            /></div>
	 <div class="error-message" ng-show="lineForm.notes.$error.amountWithoutNotes">Specificare la spesa</div>
    </div>
    <div class="row-amount">
     <input type="number"
            name="amount"
            placeholder="Quanto"
            ng-model="l.amount"
            ng-blur="$parent.updateTotalExpenses(lineForm) || ($last && l.notes && $parent.addLine(trans.expenses))"
            gm-amount2
            id="amounte{{$index}}"
            /> < ! - - TODO: fare text + smart-float! - - >
	 <div class="error-message" ng-show="lineForm.amount.$error.number">Inserisci un numero</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.decimals">Troppi decimali</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.notesWithoutAmount">Specificare l'importo</div>
    </div>
    </ng:form>
   </div>
-->
   <div class="header" ng-hide="!(trans.expenses | filter:filledLine).length || autocompletionDataError">
    Altre spese:
   </div>
   <div ng-repeat="l in trans.expenses | filter:filledLine" class="row">
    <div class="row-who field">{{l.notes}}&nbsp;</div>
    <div class="row-amount field">{{l.amount | currency : currency[1] }}</div>
   </div>

   <div ng-show="autocompletionDataError">
     Caricamento fallito. Causa: {{autocompletionDataError}}.
   </div>
   <div class="actions">
    <div>
        <span ng-show="!currencyError && totalAmount > 0 && difference < .01">Totale pagamenti: {{totalAmount | currency : currency[1] }}</span>
        <span class="error-message" ng-show="currencyError">I conti selezionati non sono omogenei per moneta.</span>
        <span class="error-message" ng-show="!currencyError && !totalAmount">Nessun dato inserito finora.</span>
        <span class="error-message" ng-show="!currencyError && difference >= .01">Discrepanza fra contanti versati e pagamenti richiesti: {{totalInvoice - totalAmount + totalExpenses | currency: currency[1] }}</span>
        </div>
    <button ng-show="trans.transId != 'new'" ng-click="reloadForm()">Annulla</button>
    <button ng-disabled="!csaId || !payment.$valid || !totalAmount || difference >= .01" ng-click="savePayment()">Registra in cassa</button>
    <button ng-disabled="confirmDelete" ng-show="trans.transId != 'new'" ng-click="confirmDeleteTransaction()">Elimina la registrazione dei pagamenti</button>
    <button ng-show="confirmDelete" ng-click="deleteTransaction()">Conferma eliminazione</button>
   </div>
  </div>
 </div>
 <div ng-show="tsaveError" class="deposit-post-save">
   <div ng-show="tsaveError" class="msg">
     Registrazione fallita. Causa: {{tsaveError}}.
   </div>
 </div>
</form>
