<div class="transactions-index">

  <div class="movements">
    <div class="header centered">
      Attività sul sito: movimenti inseriti
    </div>
    <div class="header">
      <div class="mov-odate">Data operaz.</div>
      <div class="mov-tdesc">Descrizione movimento</div>
      <div class="mov-tdate">Data movim.</div>
      <div class="mov-oper">Operatore</div>
    </div>
    <div class="body" when-scrolled="loadMore()">
      <div ng-repeat="tl in transactions" ng-class="tl[6] ? 'mov-row mod' : 'mov-row'" ng-click="showTransaction(tl)">
      <!-- 0:l.id, 1:l.log_date, 2:l.op_type, 3:t.id, 4:t.description, 5:t.transaction_date, 6:t.modified_by_id, 7:t.cc_type, 8:p.id, 9:p.first_name, 10:p.middle_name, 11:p.last_name -->
        <div class="mov-odate">{{ tl[1] | date:"shortDate" }}</div>
        <div class="mov-tdesc"><span class="tdesc">{{ tl[4] }}</span><span class="otype">{{ tl[2] == 'A' ? 'aggiunta' : tl[2] == 'M' ? 'modifica' : tl[2] == 'D' ? 'cancellazione' : tl[2] }}</span></div>
        <div class="mov-tdate">{{ tl[5] | date:"shortDate" }}</div>
        <div class="mov-oper">{{ (tl[9] || '') + ' ' + (tl[10] || '') + ' ' + (tl[11] || '') }}</div>
      </div>
      <div ng-show="transactions == null">
       <div class="message">Sto caricando i dati, un attimo di pazienza.</div>
      </div>
      <div ng-show="transactionsError">
       <div class="server-error">
        <p>Qualcosa è andato storto: {{ serverError }}</p>
       </div>
      </div>
    </div>
  </div>

</div>
