<!doctype html>
<html ng-app="gassmanApp">
<head>
 <meta charset="utf-8">
 <title>GASsMan</title>
 <link rel="stylesheet" href="{{ static_url('css/app.css') }}">
<!--<link rel="stylesheet" href="css/bootstrap.css">-->
</head>
<body>
<h1>Benvenuto sul sito della rete dei GAS di Lucca</h1>
<p>Se sei un membro della comunità entra:</p>
<a href="/auth/google"><img alt="Autenticazione tramite account Google" src=""></a>
<a href=""><img alt="Autenticazione tramite account Facebook" src=""></a>
<a href=""><img alt="Autenticazione tramite account Twitter" src=""></a>
<div class="note">Attenzione: questo sito non riceve né memorizza la password che userai per accedere.</div>
</body>
</html>
