<!doctype html>
<html ng-app="gassmanApp">
<head>
 <meta charset="utf-8">
 <title>GASsMan</title>
 <link rel="stylesheet" href="{{ static_url('css/html5reset-1.6.1.css') }}">
 <link rel="stylesheet" href="{{ static_url('css/app.css') }}">
<!--<link rel="stylesheet" href="css/bootstrap.css">-->
 <script src="{{ static_url('lib/angular/angular.js') }}"></script>
 <script src="{{ static_url('lib/angular/angular-route.js') }}"></script>
 <script src="{{ static_url('lib/angular/i18n/angular-locale_it-it.js') }}"></script>
 <script src="{{ static_url('js/app.js') }}"></script>
 <script src="{{ static_url('js/controllers.js') }}"></script>
</head>
<body>

<div ng-view></div>

</body>
</html>
