<!doctype html>
<html ng-app="gassmanApp">
<head>
 <meta charset="utf-8">
 <title>GASsMan</title>
 <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/{{ rssId }}" />
 <link rel="stylesheet" href="{{ static_url('css/html5reset-1.6.1.css') }}">
 <link rel="stylesheet" href="{{ static_url('css/macgyver.css') }}">
 <link rel="stylesheet" href="{{ static_url('css/app.css') }}">
<!--<link rel="stylesheet" href="css/bootstrap.css">-->
 <script src="{{ static_url('lib/jquery/jquery-1.10.2' + MINIFIED + '.js') }}"></script>
 <script src="{{ static_url('lib/angular/angular' + MINIFIED + '.js') }}"></script>
 <script src="{{ static_url('lib/angular/angular-route' + MINIFIED + '.js') }}"></script>
 <script src="{{ static_url('lib/angular/angular-cookies' + MINIFIED + '.js') }}"></script>
 <script src="{{ static_url('lib/angular/i18n/angular-locale_it-it.js') }}"></script>
 <script src="{{ static_url('lib/ngStorage/ngStorage.js') }}"></script>
 <script src="{{ static_url('lib/macgyver/macgyver' + MINIFIED + '.js') }}"></script>
 <script src="{{ static_url('lib/datejs/date.js') }}"></script>

 <script src="{{ static_url('js/services.js') }}"></script>
 <script src="{{ static_url('js/directives.js') }}"></script>
 <script src="{{ static_url('js/filters.js') }}"></script>
 <script src="{{ static_url('js/controllers.js') }}"></script>
 <script src="{{ static_url('js/app.js') }}"></script>
</head>
<body>

<div class="main">

 <div class="left-col" ng-controller="MenuController">

  <div class="profile-info" ng-show="profile == profileError">
   <p>Caricamento in corso...</p>
  </div>
  <div class="profile-info" ng-show="profileError">
   <p>Dati personali non disponibili: {{!profileError}}.</p>
  </div>
  <div class="profile-info" ng-show="profile">
   <p><a href="#/person/{{! profile.logged_user.id }}/detail">{{!profile.logged_user.firstName}} {{! profile.logged_user.middleName}} {{! profile.logged_user.lastName}}</a></p>
   <p ng-show="amount == amountError">Caricamento in corso...</p>
   <p ng-show="amountError">Saldo personale non disponible: {{! amountError }}.</p>
   <p ng-show="amount" class="amount {{! amountClass }}">Saldo: {{! amount | currency : currencySymbol }}</p>
  </div>
  <div class="functions" ng-show="functions.length">
   <ul>
    <li ng-repeat="f in functions" ng-class="f.class">
     <a href="{{!f.f}}" ng-if="f.f">{{!f.l}}</a>
     <span ng-if="!f.f">{{!f.l}}</span>
    </li>
    <!--li ng-show="totalAmount == totalAmountError">Caricamento in corso...</li-->
    <li ng-show="totalAmountError">Totale cassa non disponible: {{! totalAmountError }}.</li>
    <li class="grouptitle"></li>
    <li ng-show="totalAmount">Totale in cassa {{! totalAmount[0] | currency : totalAmount[1] }}</li>
   </ul>
  </div>

  <div class="footer">
   <a href="#/faq" class="faq">FAQ</a>
   <a href="#/help" class="troubleshoting">Aiuto</a>
   <a href="#/project" class="project">Progetto</a>
   <a href="/rss/{{! profile.logged_user.rssFeedId }}">RSS</a>
  </div>

 </div>


<div ng-view class="right-col"></div>
</div>

</body>
</html>
