<h1>Amministrazione / Persone</h1>

<div ng-if="!newMember">
    <form class="form-inline accounts-index-search">
        <div class="form-group">
            <label for="accountsIndexNameFilter">Filtra per nome</label>
            <input type="text" class="form-control" id="accountsIndexNameFilter" placeholder="Cerca per nome" ng-model="pagination.query"/>
        </div>
    <!--
        <div class="form-group">
            <label for="accountsIndexCsaFilter">Escludi appartenenti a</label>
            <input type="text" class="form-control" id="accountsIndexCsaFilter" placeholder="Tutti i gas" ng-model="members.pagination.filterBy.csa"/>
        </div>
    -->
        <div class="form-group">
            <label for="accountsIndexOrder">Ordina per</label>
            <select class="form-control" id="accountsIndexOrder" ng-model="others.pagination.filterBy.o">
                <option value="1">ultimo accesso (dal più recente)</option>
                <option value="2">nome</option>
                <option value="3">primo accesso (dal più recente)</option>
            </select>
        </div>
    </form>

    <div class="row people-admin">
        <div class="col-md-6 people-admin-others">
            <table class="table" ng-if="!selectedPerson">
                <tbody>
                    <tr ng-repeat="a in others.items" class="row" ng-click="selectPerson(a)">
                        <td class="col-md-12">
                            <div class="name">{{ a[1] }} {{ a[2] }} {{ a[3] }}</div>
                            <div>
                                <a ng-show="a.profile.mainEmail" href="mailto:{{ a.profile.mainEmail }}" ng-click="$event.stopPropagation()"><small>{{a.profile.mainEmail}}</small></a>
                                <a ng-show="a.profile.mainTelephone" href="call:{{ a.profile.mainTelephone }}" ng-click="$event.stopPropagation()"><small><span class="glyphicon glyphicon-phone-alt"></span> {{a.profile.mainTelephone}}</small></a>
                            </div>
                            <div>
                                <span ng-if="(a.profile.csa | filter:{ active_member: 1 }).length">
                                    Membro di:
                                    <span ng-repeat="c in a.profile.csa | filter:{ active_member: 1 }">{{ c.name }}</span>.
                                </span>
                                <span ng-if="(a.profile.csa | filter:{ active_member: 0 }).length">
                                    Ex-membro di:
                                    <span ng-repeat="c in a.profile.csa | filter:{ active_member: 0 }">{{ c.name }}</span>.
                                </span>
                            </div>
                            <span class="last-access" ng-if="a.profile.profile.last_visit">Ultimo accesso:<br>{{ a.profile.profile.last_visit | date }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row-fluid pagination-section" ng-if="!selectedPerson">
                <div class="col-xs-8">
                    <uib-pagination total-items="others.pagination.totalItems"
                                    items-per-page="others.pagination.pageSize"
                                    ng-model="others.pagination.page"
                                    max-size="6"
                                    class="pagination-sm"
                                    boundary-links="true"
                                    previous-text="<"
                                    next-text=">"
                                    first-text="<<"
                                    last-text=">>"></uib-pagination>
                    <span class="pagination-count">Trovati: {{ others.pagination.totalItems }}</span>
                </div>
            </div>

            <div ng-if="selectedPerson" class="selected-person">
                <div class="row">
                    <div class="col-xs-11"><img ng-if="selectedPerson.profile.picture" ng-src="{{ selectedPerson.profile.picture }}" class="avatar"><h3>{{ selectedPerson[1] }} {{ selectedPerson[2] }} {{ selectedPerson[3] }}</h3></div>
                    <div class="col-xs-1" ng-click="selectPerson(null)"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></div>
                </div>
                <div class="row" ng-if="selectedPerson.profile.profile.last_visit">
                    <div class="col-md-12">
                            <span class="last-access">Ultimo accesso: {{ selectedPerson.profile.profile.last_visit | date }}</span>
                    </div>
                </div>
                <div class="row" ng-repeat="c in selectedPerson.profile.contacts | filter: addressKind('E')">
                    <div class="col-md-6"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ c.address }}</div>
                </div>
                <div class="row" ng-repeat="c in selectedPerson.profile.contacts | filter: addressKind('M')">
                    <div class="col-md-6"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{ c.address }}</div>
                </div>
                <div class="row" ng-repeat="c in selectedPerson.profile.contacts | filter: addressKind('T')">
                    <div class="col-md-6"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ c.address }}</div>
                </div>
                <div class="row" ng-repeat="c in selectedPerson.profile.contacts | filter: addressKind('F')">
                    <div class="col-md-6"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> {{ c.address }}</div>
                </div>
                <div class="row" ng-if="(selectedPerson.profile.csa | filter:{ active_member: 1 }).length">
                    <div class="col-md-12">
                        Membro di:
                        <ul>
                            <li ng-repeat="c in selectedPerson.profile.csa | filter:{ active_member: 1 }">{{ c.name }}</li>.
                        </ul>
                    </div>
                </div>
                <div class="row" ng-if="(selectedPerson.profile.csa | filter:{ active_member: 0 }).length">
                    <div class="col-md-12">
                        Ex-membro di:
                        <ul>
                            <li ng-repeat="c in selectedPerson.profile.csa | filter:{ active_member: 0 }">{{ c.name }}</li>.
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 people-admin-members">
            <table class="table" ng-if="!selectedMember">
                <tbody>
                    <tr ng-repeat="a in members.items" class="row" ng-click="selectMember(a)">
                        <td class="col-md-12">
                            <div class="name">{{ a[1] }} {{ a[2] }} {{ a[3] }}</div>
                            <a ng-show="a.profile.mainEmail" href="mailto:{{ a.profile.mainEmail }}" ng-click="$event.stopPropagation()"><small>{{a.profile.mainEmail}}</small></a>
                            <a ng-show="a.profile.mainTelephone" href="call:{{ a.profile.mainTelephone }}" ng-click="$event.stopPropagation()"><small><span class="glyphicon glyphicon-phone-alt"></span> {{a.profile.mainTelephone}}</small></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row-fluid pagination-section" ng-if="!selectedMember">
                <div class="col-xs-8">
                    <uib-pagination total-items="members.pagination.totalItems"
                                    items-per-page="members.pagination.pageSize"
                                    ng-model="members.pagination.page"
                                    max-size="6"
                                    class="pagination-sm"
                                    boundary-links="true"
                                    previous-text="<"
                                    next-text=">"
                                    first-text="<<"
                                    last-text=">>"></uib-pagination>
                    <span class="pagination-count">Trovati: {{ members.pagination.totalItems }}</span>
                </div>

                <div class="col-xs-4 text-right">
                    <form class="form-inline">
                        <div class="form-group pagination">
                            <label for="pageSize">Righe per pagina:</label>
                            <select class="form-control" id="pageSize" ng-model="pagination.pageSize">
                                <option ng-repeat="sz in members.pagination.pageSizes">{{ sz }}</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div ng-if="selectedMember">
                <div class="row">
                    <div class="col-md-11"><img ng-if="selectedMember.profile.picture" ng-src="{{ selectedPerson.profile.picture }}" class="avatar"><h3>{{ selectedMember[1] }} {{ selectedMember[2] }} {{ selectedMember[3] }}</h3></div>
                    <div class="col-md-1" ng-click="selectMember(null)"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></div>
                </div>
<!--
Ck_Id = 'I'
Ck_Nickname = 'N'
*Ck_Picture = 'P'
Ck_GProfile = '+'
Ck_Web = 'W'
-->
                <div class="row" ng-repeat="c in selectedMember.profile.contacts | filter: addressKind('E')">
                    <div class="col-md-6"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ c.address }}</div>
                </div>
                <div class="row" ng-repeat="c in selectedMember.profile.contacts | filter: addressKind('M')">
                    <div class="col-md-6"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{ c.address }}</div>
                </div>
                <div class="row" ng-repeat="c in selectedMember.profile.contacts | filter: addressKind('T')">
                    <div class="col-md-6"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ c.address }}</div>
                </div>
                <div class="row" ng-repeat="c in selectedMember.profile.contacts | filter: addressKind('F')">
                    <div class="col-md-6"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> {{ c.address }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" ng-click="addPerson()" ng-if="!selectedPerson && !selectedMember">Nuovo membro</button>
            <button type="button" class="btn btn-success" ng-click="addMemberWithNewAccount()" ng-if="selectedPerson && !selectedMember">Apri conto</button>
            <button type="button" class="btn btn-danger" ng-click="removeSelectedPerson()" ng-if="selectedPerson && !selectedPerson.profile.csa.length">Rimuovi contatto</button>
            <button type="button" class="btn btn-primary" ng-click="joinPerson()" ng-if="selectedPerson && selectedMember && !selectedPerson.profile.csa.length">Stessa persona</button>
            <button type="button" class="btn btn-primary" ng-click="addMemberWithExistingAccount()" ng-if="selectedPerson && selectedAccount">Cointesta conto</button>
        </div>
    </div>
</div>

<div ng-if="newMember">
    <div class="row">

        <form class="form-horizontal" name="personProfileForm">

            <h3>Nuovo membro</h3>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Nome" ng-model="newMember.first_name" required>
                </div>
            </div>

            <div class="form-group">
                <label for="last_name" class="col-sm-2 control-label">Cognome</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="last_name" placeholder="Cognome" ng-model="newMember.last_name" required>
                </div>
            </div>

            <div class="form-group">
                <label for="account" class="col-sm-2 control-label">Crea conto</label>
                <div class="col-sm-10">
                    <input type="checkbox" class="form-control" id="account" ng-model="newMember.csa">
                </div>
            </div>
        </form>

    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" ng-click="createPerson()" ng-disabled="!personProfileForm.$valid">Crea</button>
            <button type="button" class="btn btn-danger" ng-click="cancelAddMode()">Annulla</button>
        </div>
    </div>
</div>

<div ng-show="actionError">{{ actionError }}</div>
<div ng-show="error">Errore nel caricamento dei dati: {{accountsError}}.</div>
