<for ng-if="csa" class="csa-info">
<form class="form-horizontal" name="csaAdminForm" ng-if="!loadError">

  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Nome del GAS</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Nome" ng-model="csa.name" ng-readonly="readOnly">
    </div>
  </div>

  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Descrizione</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="description" placeholder="Descrizione" ng-model="csa.description" ng-readonly="readOnly"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="default_account_threshold" class="col-sm-2 control-label">Soglia sul conto</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="default_account_threshold" placeholder="Importo" ng-model="csa.default_account_threshold" ng-readonly="readOnly">
    </div>
  </div>

  <div class="row last-row-w-separator">
      <div class="col-md-2">
          <button class="btn btn-default" ng-click="saveCsa()">Salva</button>
      </div>
      <div class="col-md-2">
          <button class="btn btn-default" ng-click="cancel()">Annulla</button>
      </div>
  </div>

    <div ng-if="saveError" class="alert alert-danger">
        {{ saveError }}
    </div>
</form>

 <div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">Cassa comune</h3>
  </div>
  <div class="panel-body">

   <p ng-if="csa.kitty.amount">Saldo in cassa comune: {{ csa.kitty.amount[0] | currency: csa.kitty.amount[1] }}.
    <button class="btn btn-default" ng-click="showAccount(csa.kitty.id)">Visualizza tutti i movimenti</button>
   </p>
   <p ng-if="csa.last_kitty_deposit">Ultimo versamento in cassa risalente al {{ csa.last_kitty_deposit.log_date | date }} registrato da {{ csa.last_kitty_deposit.first_name}} {{ csa.last_kitty_deposit.last_name }}.
    <button class="btn btn-default" ng-click="showTransaction([0,0,0,0,csa.last_kitty_deposit.tid])">Dettagli</button>
   </p>

   <div ng-if="editableMembershipFee">
    <button class="btn btn-default" ng-if="!viewChargeMembershipForm" ng-click="showChargeMembershipFeeForm(true)">Addebita quota di partecipazione</button>

    <form ng-if="viewChargeMembershipForm" name="membershipFeeForm">
     <div class="form-group">
      <label for="membership_fee">Quota di partecipazione</label>
      <input type="number" min="0" ng-model="csa.kitty.membership_fee" class="form-control" id="membership_fee" placeholder="TODO">
     </div>
     <div class="form-group">
      <label for="charge_description">Annotazioni</label>
      <input type="text" class="form-control" ng-model="csa.kitty.charge_description" id="charge_description" placeholder="">
     </div>
     <button class="btn btn-default" ng-click="chargeMembershipFee()">Conferma</button>
     <button class="btn btn-default" ng-click="showChargeMembershipFeeForm(false)">Annulla</button>
     <div ng-if="membershipFeeError">{{membershipFeeError}}.</div>
    </form>

   </div>

  </div>
 </div>

</div>

<div ng-if="loadError">
 <p>Pagina temporaneamente non disponible.</p>
 <p>Causa: {{loadError}}</p>
</div>
