<div class="csa-info">

    <div class="row last-row-w-separator">
        <div class="col-md-8">
            <div ui-calendar="calendar" ng-model="eventSources" calendar="uical"></div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h3>Punti di consegna</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" >
                    <button type="button" ng-repeat="dp in deliveryPlaces" class="btn btn-default btn-sm" style="margin: 2px; background-color: {{ dp.color }}">{{ dp.description }}</button>
                </div>
            </div>
            <div class="panel" ng-class="{ 'panel-default': selectedEvent.shifts.length > 0 || selectedEvent.myShift, 'panel-danger': selectedEvent.shifts.length == 0 && !selectedEvent.myShift }" ng-if="selectedEvent">
                <div class="panel-heading">
                    <h4 ng-if="selectedEvent.id">Modifica turno: {{ selectedEvent.from_date.toJSON() | date: 'shortDate' }}</h4>
                    <h4 ng-if="!selectedEvent.id">Nuovo turno: {{ selectedEvent.from_date.toJSON() | date: 'shortDate' }}</h4>
                </div>
                <div class="panel-body">
                    <form name="delivery_date">
                        <div class="checkbox" ng-repeat="dp in selectedEvent.delivery_places">
                            <label>
                                <input type="checkbox" ng-model="selectedEvent.enabled_dp[dp.id]" ng-disabled="selectedEvent.id">{{ dp.description }}
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="notes" class="control-label">Note</label>
                            <input type="text" class="form-control" id="notes" placeholder="Verdure, etc." ng-model="selectedEvent.notes" required>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="from_time" class="control-label">Dalle</label>
                                <input type="text" class="form-control" id="from_time" placeholder="{{ timeFormat }}" ng-model="selectedEvent.from_hour" required gm-valid-time>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="to_time" class="control-label">Alle</label>
                                <input type="text" class="form-control" id="to_time" placeholder="{{ timeFormat }}" ng-model="selectedEvent.to_hour" required gm-valid-time gm-after="selectedEvent.from_hour">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" ng-disabled="!delivery_date.$valid || !assignedDp()" ng-click="saveEvent()">Salva</button>
                        <button type="button" class="btn btn-danger" ng-if="selectedEvent.id" ng-click="removeEvent()">Rimuovi data di consegna</button>
                        <button type="button" class="btn btn-danger" ng-if="!selectedEvent.id" ng-click="cancelEvent()">Annulla</button>
                        <h3>Turnisti</h3>
                        <div class="row" ng-if="selectedEvent.shifts.length > 0">
                            <div class="shift-label col-md-5">
                                Ruolo
                            </div>
                            <div class="shift-label col-md-5">
                                Persona
                            </div>
                            <!--
                            <div class="form-group col-md-1">
                            </div>
                            -->
                        </div>
                        <ng:form name="shift" class="shift" ng-repeat="s in selectedEvent.shifts">
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" placeholder="apertura" ng-model="s.role" required>
                                </div>
                                <div class="form-group col-md-5">
                                    <ui-select theme="bootstrap"
                                               name="person"
                                               ng-model="s.person_id"
                                               required
                                               >
                                        <ui-select-match placeholder="turnista">{{ $select.selected.name }}</ui-select-match>
                                        <ui-select-choices repeat="accountInfo.acc as accountInfo in autocompletionData | filter: {name: $select.search} track by accountInfo.acc">
                                            <div ng-bind-html="accountInfo.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <button class="btn btn-link">
                                    <span class="glyphicon glyphicon-remove" ng-click="removeShift(s.idx)"> </span>
                                </button>
                            </div>
                        </ng:form>
                        <button type="button" class="btn btn-primary" ng-click="addShift()">Aggiungi turnista</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div ng-if="loadError">
    <p>Pagina non disponible: <span ng-repeat="msg in loadError">{{ msg }}</span>.</p>
</div>
