<h1>Domande frequenti</h1>

<h2>Gestione della cassa</h2>

<h3>Ogni quanto viene aggiornato il sito?</h3>

<p>
Il cassiere riceve le email degli addebiti di solito entro un paio di giorni dalla consegna.
Però abitualmente registra le email una volta la settimana tutte insieme.
Ne consegue che il sito si aggiorna in media una volta la settimana.
</p>

<h3>Ho capito ma ho dato i soldi il giorno X, sono passate 2 settimane e ancora non li vedo registrati?!</h3>
<p>
Diverso è il discorso per gli accrediti. È importante capire come funziona la faccenda per avere
un'idea chiara dei tempi e soprattutto dei problemi che possono incorrere.
</p>

<p>
Partiamo a ritroso. Affinché un accredito compaia sul sito deve essere stato inserito dal cassiere.
Per farlo il cassiere attende una mail da renato che ha fisicamente in mano i soldi.
Potete consegnare i contanti a Renato direttamente, per esempio alle riunioni mensili, oppure a qualcuno
che si fa carico delle raccolte ai vari punti di consegna.
</p>

<p>
Ricapitolando i tempi:
</p>
<ul>
<li>consegna ad un intermediario;</li>
<li>dall'intermediario a Renato: da pochi giorni a un mese;</li>
<li>Renato aggiorna i propri conti e invia una mail al cassiere: da pochi giorni a una settimana;</li>
<li>il cassiere raccoglie varie email e le inserisce tutte insieme: da pochi giorni a una settimana;
<li>et voilà, il sito è aggiornato.</li>
</ul>
<p>
Lascio come piccolo esercizio il semplice calcolo dei tempi.
</p>

<h3>Sì vabbè, ma se l'accredito proprio non risulta?</h3>
<p>
In questo caso è necessario che interveniate, mandando una mail. <em>Ma un attimo!</em> Se la mandate
al cassiere e basta, come fate di solito, non risolvete niente. Lui si limiterà a controllare le email
ricevute dove nel 99.9% (certo, il cassiere può sbagliare) dei casi non comparirà. In questo caso cioè
il cassiere ne sa <em>meno</em> di voi. La mail deve essere inviata a <em>tutti</em> i partecipanti
alla catena di trasmissione dei soldi, per capire fin dove sono arrivati.
</p>

<h3>E se c'è un addebito errato? Cosa devo fare?</h3>

<p>
Ci sono vari casi:
</p>
<ul>
<li>se c'è un addebito non riconosciuto, cioè relativo a qualcosa che non si capisce cosa sia
o di un ordine a cui non si è partecipato, scrivere solo al cassiere per chiedere spiegazioni.
Quella più probabile è che abbia fatto un errore, vuoi a causa di una parziale omonimia (stesso nome o
stesso cognome) vuoi perché una farfalla a sbattuto le ali a Pechino;</li>
<li>se c'è un addebito di un ordine cui si è partecipato, ma con importo errato, oppure un ordine ricorrente
(tipo la frutta di Lorenzoni) relativo ad una settimana che si è saltata, scrivere al cassiere, al responsabile
di quell'ordine e a chi ha gestito la consegna;</li>
</ul>

<p>Dopo aver inviato la mail, attendere pazientemente (anche una settimana) i chiarimenti
o le correzioni.</p>

<h3>Dov'è la cassa verdure?</h3>

<p>
La cassa verdure attualmente è gestita interamente da Renato, quindi a parte rare eccezioni,
i pagamenti della cassa verdure non compaiono sul sito.
</p>


<h2>Utilizzo del sito web</h2>

<h3>Come funziona l'autenticazione?</h3>

<p>
Se state leggendo questa pagina avete già risolto (sì, dovevo metterla in una sezione pubblica...)
Per ora il sito richiede un account google. Se ne avete uno usate quello (email e password).
Altrimenti lo create lì per lì, usando come username la email sulla quale ricevete la mailing list
(questo non è obbligatorio, ma è utile).

Ribadisco che io non ricevo la vostra password: l'autenticazione è delegata a google il quale mi dice
chi siete (nome, cognome, email) e niente altro. Ho fatto così solo per risparmiarmi del lavoro,
perché gestire l'autenticazione è laborioso.
</p>

<h3>Come faccio a sapere se il sito è stato aggiornato?</h3>

<p>A aggiunto un feed RSS personale. O il vostro browser lo rileva automaticamente
(i famosi "live bookmarks"... ma esistono ancora? Chrome pare ignorarli) oppure usate il feed reader
che preferite.
</p>

<p>Se queste sigle vi sembrano oscure cercate su internet.</p>



<!--
1) Perché usare GnuCash?

La gestione dei conti è delicata, perché son soldi e non ci possiamo permettere
 di dire a qualcuno: scusa, mi sono perso i tuoi 50 euri (sì, è successo e la cosa mi ha
  indisposto e mi infastidisce tuttora).

Qualcuno ha suggerito un foglio di calcolo. Il problema è che non è sufficiente avere il saldo.
 È necessario avere traccia dello storico di tutti i pagamenti, altrimenti, in caso di divergenze non si riesce a 
 risalire all'errore. E gli errori ci sono, si verificano a qualsiasi livello. L'obiettivo non è eliminare gli errori
  ma essere sempre pronti a gestirli.

La partita doppia è l'unico strumento che conosco in grado di gestire la cassa.
 Sottolineo: che conosco. E GnuCash è l'unico programma che conosco che la gestisca.
  È l'unico perché è il primo che ho provato e mi ha soddisfatto, quindi ho interrotto la ricerca.

Sono curioso di tentare altre strade, ma non abbastanza da farlo da solo.
 Tradotto in altri termini: se qualcuno vuol provare altri strumenti mi accodo volentieri.



2 bis) La mailing list è intasata dagli aggiornamenti di cassa. Perché?

Come dicevo prima perché si verifichi se ci sono stati errori. Per esempio se a causa di una parziale
omonimia (stesso nome o stesso cognome) un addebito viene fatto alla persona sbagliata. Se controlla
soltanto chi sa di avere ordinato può accadere che anche chi ha ordinato qualcosa non lo faccia perché
non ricorda di averlo fatto (molto frequente). Oppure non si accorga dell'errore di non avere un addebito
(perché controlla solo quello che c'è e non quello che ci dovrebbe essere). E magari la persona a cui è
stato addebitato per sbaglio non controlla perché sa di non aver partecipato ad alcun ordine ultimamente...
e l'errore rimane lì. Tranne poi scoprirlo 4 mesi dopo.


5) Il mio nome non c'è! Perché?

Varie possibilità (in ordine sparso):

non si fa parte del gas / non si è mai partecipato agli ordini;
si ritira soltanto la busta verdure (vedi domanda precedente);
in realtà c'è ma sbagliato.
Nell'ultimo caso scrivere a Simone affinché venga corretto.

5 bis) Il mio nome c'è ma è sbagliato! Perché non lo correggete?

Vedi domanda predente: manda una mail di segnalazione a Simone.
-->
