<div class="infopage">

<div class="title">Aiuto!</div>

<p>Non è previsto un vero e proprio manuale, sia perché il progetto
è giovane e in volubile (magari rapida) evoluzione, sia perché l'autore
non è bono a scrivere, sia perché dedica tutte le energie allo sviluppo
e non alla documentazione come nella migliore tradizione di tutti i progetti
che si rispettino destinati a fallire.
</p>

<p>Detto questo vediamo cosa possiamo fare in caso di emergenza. I problemi
principali sono di due tipi: il browser mi dice che qualcosa non va oppure
ho delle difficoltà a interpretare ciò che leggo oppure o dei dubbi oppure
ciò che leggo non mi sembra corretto.
</p>

<div class="section">Non riesco a interpretare ciò che leggo oppure
sì ma non mi sembra corretto</div>

<p>Caso tipico: ho accreditato ma non risulta. Oppure vedo un addebito per merce
che non ho ordinato o ritirato. In questo caso è <strong>estremamente importante</strong>
leggere la sezione <a href="#/faq">Domande Frequenti</a>.
</p>

<p>Se si è trovato il caso che ci riguarda basta seguire le istruzioni lì indicate.
Di solito consistono nell'aspettare qualche giorno.
</p>

<p>Se le <a href="#/faq.html">Domande Frequenti</a> non risolvono, non resta che
chiedere aiuto scrivendo alla mailing list del
<a href="mailto:lucca-mattaccio@googlegroups.com">gruppo Lucca Mattaccio</a>.
Lì troverai senz'altro qualcuno in grado di aiutarti.
</p>

<div class="section">Il browser mi dice che c'è qualcosa che non va</div>

<p>In questo caso non c'è niente da fare, siete incappati in uno dei numerosissimi bug.
Avete le seguenti possibilità:
</p>

<ul>
<li>contattare il cassiere per email, descrivendogli il problema. Meglio se salvate la pagina
e gliela inviate come allegato, oppure copiate e incollate il testo della pagina dentro la
mail. A ciò aggiungete una descrizione breve ma (il più possibile) precisa di cosa avete
fatto per arrivare fino al problema.</li>
<li>andare nella sezione <a href="#/project">Progetto</a> e cercare di dare una mano in
prima persona. O riportando il problema su <a href="https://github.com/makeroo/gassman/issues/new">
GitHub</a> oppure partecipando attivamente allo sviluppo per risolvere il bug.</li>
</ul>

</div>