<div class="page-content">

    <nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-if="csa" class="navbar-brand" href="#/csa/{{ gassman.selectedCsa }}/detail">{{ csa.name }}</a>
                <a ng-if="!csa" class="navbar-brand" href="#/">GAS Manager</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-if="csa">
                        <a href="#/accounts/index">Chi siamo</a>
                    </li>
                    <li ng-if="transactionTypes.length" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Movimenti <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="m in transactionTypes"><a href="{{ m.f}}">{{ m.l }}</a></li>
                            <!-- <li class="divider"></li> -->
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-if="gassman.loggedUser">

                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ gassman.loggedUser.profile.first_name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/person/{{ gassman.loggedUser.profile.id }}/detail">Profilo</a></li>
                            <li ng-if="gassman.selectedAccount"><a href="#/account/{{ gassman.selectedAccount  }}/detail">Conto</a></li>
                            <li><a ng-click="logout()">Esci</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div ui-view class="container"></div>
</div>

<div class="footer container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p class="text-center">
                <a href="#/faq">FAQ</a>
                <a href="#/help">Aiuto</a>
                <a href="#/project">Progetto</a>
                <a ng-if="gassman.loggedUser.profile.rss_feed_id" href="/gm/rss/{{ gassman.loggedUser.profile.rss_feed_id }}">RSS</a>
            </p>
        </div>
    </div>
</div>
