<h1>Informativa sulla privacy</h1>

<p>
    Tutte le informazioni riguardante il GAS a cui appartieni, ovvero chi vi partecipa, i suoi contatti e i dettagli
    della cassa sono accessibili solo a te e agli altri membri del GAS.
</p>

<p>
    Per offrire queste funzioni utilizziamo i cookie.
    Cosa sono i cookie? Leggilo su <a href="https://it.wikipedia.org/wiki/Cookie">Wikipedia</a>.
</p>


<table class="table">
    <tr>
        <th>Per cosa utilizziamo i cookie</th>
        <th>...e come</th>
    </tr>
    <tr>
        <td>Sicurezza</td>
        <td>
            Maggori informazioni su <a href="https://it.wikipedia.org/wiki/Cross-site_request_forgery">Wikipedia</a>.
        </td>
    </tr>
    <tr>
        <td>Accesso</td>
        <td>
            I cookie ti consentono di entrare e uscire da GASsMan.
        </td>
    </tr>
    <tr>
        <td>Dati analitici</td>
        <td>
            Utilizziamo i cookie per migliorare GASsMan. Questi cookie ci indicano, ad esempio,
            quanti utilizzano una determinata funzione e che dispositivi usano.
            <br>
            Per l'analisi ci appoggiamo allo strumeto di analisi di Google:
            <a href="https://www.google.it/intl/it/analytics/">Google Analytics</a>.
            <br>
            Leggi ulteriori informazioni su cookie di
            <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Analitycs e privacy</a>.
        </td>
    </tr>
</table>
