<h1>Scopo</h1>

<p>Il progetto GASsMan ha come scopo un framework multicanale per gestire i Gruppo di Acquisto Solidali.
Le funzionalità che offrirà in un futuro più o meno prossimo sono:</p>
<ul>
<li>rubrica, indirizziario e comunicazioni fra i membri;</li>
<li>anagrafe dei produttori;</li>
<li>gestione ordini: dalla raccolta delle ordinazioni alla consegna ai pagamenti;</li>
<li>calendario eventi;</li>
<li>resoconti delle riunioni;</li>
<li>gestione della banca del tempo;</li>
<li>e chi più ne ha più ne metta perché i G.A.S. sono una realtà complessa.
</ul>

<h1>Motivazioni</h1>

<p>Partecipare ad un G.A.S. è faticoso e complesso ma importante. Perché l'obiettivo ultimo è vivere
una vita migliore in un mondo migliore. Quindi se esistono strumenti che semplifichino alcuni compiti
ben vengano. Questo aspira ad essere uno di quelli.
</p>

<h1>Collaborare</h1>

<p>Lo sviluppo è completamente open source. Le sorgenti sono su <a href="https://gitlab.com/makeroo/gassman">github</a>.</p>

<p ng-show="version">La versione correntemente installata è <a href="https://gitlab.com/makeroo/gassman/commit/{{version}}">questa</a>.

<p>Contribuire è possibile in vari modi:</p>

<ul>
<li>creando una <a href="https://gitlab.com/makeroo/gassman/issues/new">issue</a>;
<li>clonando il repository e scrivendo codice;
<li>scrivendo documentazione.
</ul> 
