<div ng-if="readonly" class="transaction">

  <h3>Quota partecipazione</h3>

  <div class="form-group">
    <label class="col-sm-2 control-label">Data pagamento:</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ trans.tdate | date }}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Note:</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ trans.tdesc }}</p>
    </div>
  </div>

  <h4>Elenco paganti:</h4>

  <div ng-repeat="l in trans.clients | filter:filledLine" class="row">
    <div class="col-sm-6">
      <p class="form-control-static"><span ng-repeat="p in l.accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" ui-state="p.pid && viewableContacts ? 'root.person_detail' : 'root.account_detail'" ui-state-params="p.pid && viewableContacts ? { personId: p.pid } : { accountId: l.account }">{{p.name}}</a><span ng-hide="$last">, </span></span></p>
    </div>
    <div class="col-sm-2">
      <p class="form-control-static">{{ l.amount | currency : currency[1] }}</p>
    </div>
    <div class="col-sm-4">
      <p class="form-control-static">{{ l.notes }}</p>
    </div>
  </div>

  <div class="row total-line" ng-show="!currencyError && totalAmount > 0">
    <div class="col-sm-6 bg-success">
      <p class="form-control-static">Incasso:</p>
    </div>
    <div class="col-sm-2 bg-success">
      <p class="form-control-static">{{totalAmount | currency : currency[1] }}</p>
    </div>
  </div>

  <p class="alert alert-info">Movimento inserito da <span ng-if="!viewableContacts">{{operator.first_name}} {{operator.last_name}}</span><a ng-if="viewableContacts" ui-sref="root.person.detail({personId: operator.pid})">{{operator.first_name}} {{operator.last_name}}</a>, il {{log_date | date}}.</p>

  <p ng-show="modifies" class="alert alert-info">Questo inserimento ne modifica uno precedente. <button class="btn btn-info" ng-click="showTransaction(modifies)">Esamina</button></p>

  <p class="alert alert-warning" ng-show="modified_by">
    <em>Attenzione</em>. Questo inserimento è stato annullato da una successiva modifica. <button class="btn btn-info" ng-click="showTransaction(modified_by)">Esamina</button>
  </p>

  <button class="btn btn-primary" ng-show="canEdit && !modified_by" ng-click="modifyTransaction()">Modifica o cancella</button>

</div>


<form ng-if="!readonly" ng-controller="TransactionMembershipFee" name="payment" class="form-horizontal transaction" ng-submit="return;">

  <h3 ng-if="trans.transId == null">Inserisci addebito quota</h3>
  <h3 ng-if="trans.transId != null">Modifica addebito quota</h3>

  <div class="form-group">
    <label for="tdate" class="col-sm-2 control-label">Data:</label>
    <div class="col-sm-10">
      <input id="tdate" name="tdate" class="form-control" type="date" ng-model="trans.tdate" gm-check-tdate />
      <p class="text-danger" ng-show="deposit.tdate.$error.trans_date_below">Data antecedente all'apertura di almeno uno fra i conti indicati</p>
      <p class="text-danger" ng-show="deposit.tdate.$error.trans_date_above">Data successiva alla chiusura di almeno uno fra i conti indicati</p>
      <p class="text-danger" ng-show="deposit.tdate.$error.trans_date_future">Non è possibile specificare una data nel futuro</p>
    </div>
  </div>
  <div class="form-group">
    <label for="tdesc" class="col-sm-2 control-label">Note:</label>
    <div class="col-sm-10">
      <textarea id="tdesc" class="form-control" ng-model="trans.tdesc"></textarea>
    </div>
  </div>

  <h4>Elenco dei paganti:</h4>

  <div ng-repeat="l in trans.clients" class="row transaction-line">
    <ng:form name="lineForm">
      <div class="col-sm-6">
        <label for="accountc{{ $index }}" class="sr-only">Conto per la riga {{ $index }}</label>
		<ui-select id="accountc{{ $index }}"
                   ng-if="!l.readonly"
                   theme="bootstrap"
                   name="account"
                   ng-model="l.account"
                   on-select="checkCurrencies() || ($last && l.account && $parent.addLine(trans.clients))"
                   required-if="l.amount"
                   ng-keypress="$event.keyCode == 13 && focusElement('#amountc' + $index)"
                   >
		  <ui-select-match placeholder="Chi ha ordinato">{{ $select.selected.name }}</ui-select-match>
		  <ui-select-choices repeat="accountInfo.acc as accountInfo in autocompletionData | filter: {name: $select.search} track by accountInfo.acc">
		    <div ng-bind-html="accountInfo.name | highlight: $select.search"></div>
		  </ui-select-choices>
		</ui-select>
        <select id="accountc{{ $index }}"
                ng-if="l.readonly"
                class="form-control"
                disabled
                >
            <option selected>{{ formatNamesForOption(l.accountNames) }}</option>
        </select>
	    <p class="text-danger" ng-show="lineForm.account.$error.required">Specificare chi ha pagato</p>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="amountc{{ $index }}" class="sr-only">Importo per la riga {{ $index }}</label>
          <div class="input-group">
            <input class="form-control"
               type="text"
               name="amount"
               placeholder="Quanto"
               ng-model="l.amount"
               ng-blur="$parent.updateTotalAmount() || ($last && l.account && $parent.addLine(trans.clients))"
               gm-currency="2"
               id="amountc{{ $index }}"
               ng-readonly="l.readonly"
               />
            <div class="input-group-addon">{{ accountCurrency(l.account) }}</div>
          </div>
          <p class="text-danger" ng-show="lineForm.amount.$error.number">Inserisci un numero</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.decimals">Troppi decimali</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.required">Specificare l'importo</p>
        </div>
      </div>
      <div class="col-sm-4">
        <input class="form-control"
               type="text"
               placeholder="Note"
               ng-model="l.notes"
               ng-blur="$last && l.account && $parent.addLine(trans.clients)"
               ng-readonly="l.readonly"
               />

      </div>
    </ng:form>
  </div>

  <div class="row total-line" ng-show="!currencyError && totalAmount > 0">
    <div class="col-sm-6 bg-success">
      <p class="form-control-static">Incasso:</p>
    </div>
    <div class="col-sm-2 bg-success">
      <p class="form-control-static">{{ totalAmount | currency : currency[1] }}</p>
    </div>
  </div>

  <div class="row" ng-show="currencyError">
    <p class="alert alert-warning">I conti selezionati non sono omogenei per moneta.</p>
  </div>
  <div class="row" ng-show="!currencyError && !totalAmount">
    <p class="alert alert-warning">Nessun dato inserito finora.</p>
  </div>

  <div class="row">
    <button class="btn btn-danger" ng-if="trans.transId != 'new'" ng-click="reloadForm()">Annulla</button>
    <button class="btn btn-primary" ng-disabled="!payment.$valid || !totalAmount" ng-click="savePayment()">Registra in cassa</button>
    <button class="btn btn-danger" ng-disabled="confirmDelete" ng-show="trans.transId != 'new'" ng-click="confirmDeleteTransaction()">Elimina la registrazione dei pagamenti</button>
    <button class="btn btn-danger" ng-if="confirmDelete" ng-click="deleteTransaction()">Conferma eliminazione</button>
  </div>

 <div ng-show="tsaveError" class="deposit-post-save">
   <div ng-show="tsaveError" class="msg">
        <div class="msg">Registrazione fallita: <span ng-repeat="msg in tsaveError">{{ msg }}</span>.</div>
   </div>
 </div>
</form>
