<div ng-if="readonly" class="transaction">

  <h3>Transazione cancellata</h3>

  <div class="row">
    <div class="form-group">
      <label class="col-sm-2 control-label">Data operazione:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{ trans.tdate | date }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label class="col-sm-2 control-label">Descrizione e note:</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{ trans.tdesc }}</p>
      </div>
    </div>
  </div>

  <p class="alert alert-info">Cancellazione effettuata da <span ng-if="!viewableContacts">{{operator.first_name}} {{operator.last_name}}</span><a ng-if="viewableContacts" ui-sref="root.person_detail({personId: operator.pid})">{{operator.first_name}} {{operator.last_name}}</a>, il {{log_date | date}}.</p>

  <p ng-show="modifies" class="alert alert-info">Dettagli della transazione cancellata: <button class="btn btn-info" ng-click="showTransaction(modifies)">Esamina</button></p>

  <p class="alert alert-warning" ng-show="modified_by">
    <em>Attenzione</em>. Questo inserimento è stato annullato da una successiva modifica. <button class="btn btn-info" ng-click="showTransaction(modified_by)">Esamina</button>
  </p>

</div>
