<div ng-if="autocompletionDataError == null && trans.cc_type == 'x'">
<ng-include src="'template/transaction_cashexchange.html'"></ng-include>
</div>

<div ng-if="autocompletionDataError == null && trans.cc_type == 'p'">
<ng-include src="'template/transaction_payment.html'"></ng-include>
</div>

<div ng-if="autocompletionDataError == null && trans.cc_type == 'w'">
<ng-include src="'template/transaction_withdrawal.html'"></ng-include>
</div>

<div ng-if="autocompletionDataError == null && trans.cc_type == 'd'">
<ng-include src="'template/transaction_deposit.html'"></ng-include>
</div>

<div ng-if="autocompletionDataError == null && trans.cc_type == 'g'">
<ng-include src="'template/transaction_generic.html'"></ng-include>
</div>

<div ng-if="autocompletionDataError == null && trans.cc_type == 't'">
<ng-include src="'template/transaction_trashed.html'"></ng-include>
</div>

<div ng-if="autocompletionDataError == null && trans.cc_type == 'f'">
<ng-include src="'template/transaction_membershipfee.html'"></ng-include>
</div>

<div ng-if="autocompletionDataError == null && trans.cc_type == 'q'">
<ng-include src="'template/transaction_paymentexpenses.html'"></ng-include>
</div>

<div ng-if="autocompletionDataError == null && trans.cc_type == 'z'">
<ng-include src="'template/transaction_accountclosed.html'"></ng-include>
</div>

<div ng-if="autocompletionDataError == null && trans.cc_type == 'e'">
Questo movimento è in stato di errore. Contatta l'amministratore.
</div>

<div ng-if="autocompletionDataError">
  <div class="row">
    <p class="bg-danger">Caricamento fallito, dati non disponibili. Prova a ricaricare la pagina.</p>
  </div>
</div>
