<div ng-if="readonly" class="deposit">
 <div class="lines-table">
  <div class="header" ng-hide="autocompletionDataError">
   Inserisci chi ha prelevato:
  </div>
  <div class="body">
   <div ng-repeat="l in trans.clients | filter:filledLine" class="row">
    <div class="row-who field"><span ng-repeat="p in l.accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" href="{{ p.pid && viewableContacts ? '#/person/' + p.pid + '/detail' : '#/account/' + l.account + '/detail'}}">{{p.name}}</a><span ng-hide="$last">, </span></span></div>
    <div class="row-amount field">{{l.amount | currency : currency[1] }}</div>
    <div class="row-notes field">{{l.notes}}&nbsp;</div>
   </div>

   <div ng-show="autocompletionDataError">
     Caricamento fallito. Causa: {{autocompletionDataError}}.
   </div>
  </div>
  <div class="actions">
   <div>Data ritiro: <span>{{trans.tdate | date}}</span>, note: <span>{{trans.tdesc}}</span><br/>
       <span ng-show="!currencyError && totalAmount > 0">Totale prelievi: {{totalAmount | currency : currency[1] }}</span>
       </div>
   <div>
       Movimento inserito da <span ng-if="!viewableContacts">{{operator.first_name}} {{operator.last_name}}</span><a ng-if="viewableContacts" href="#/person/{{operator.pid}}/detail">{{operator.first_name}} {{operator.last_name}}</a>, il {{log_date | date}}.
   </div>
   <div ng-show="modifies">
       Questo inserimento ne modifica uno precedente. <button ng-click="showTransaction(modifies)">Esamina</button>
   </div>
   <div ng-show="modified_by">
	   <em>Attenzione</em>. Questo inserimento è stato annullato da una successiva modifica. <button ng-click="showTransaction(modified_by)">Esamina</button>
   </div>
   <button ng-show="canEdit && !modified_by" ng-click="modifyTransaction()">Modifica o cancella</button>
<!--
   <button ng-disabled="!csaId || !deposit.$valid || !totalAmount" ng-click="saveWithdrawal()">Registra in cassa</button>
   <button ng-disabled="confirmDelete" ng-show="transId != 'new'" ng-click="confirmCancelWithdrawal()">Elimina la registrazione dei prelievi</button>
   <button ng-show="confirmDelete" ng-click="cancelWithdrawal()">Conferma eliminazione</button>
-->
  </div>
 </div>
</div>
<form ng-if="!readonly" ng-controller="TransactionWithdrawal" name="deposit" class="deposit" ng-submit="return;">
 <div class="lines-table">
  <div class="header" ng-hide="autocompletionDataError">
   Inserisci chi ha prelevato:
  </div>
  <div class="body">
   <div ng-repeat="l in trans.clients" class="row">
    <ng:form name="lineForm">
    <div class="row-who">
     <div><mac-autocomplete
            name="account"
            mac-placeholder="'Chi ha prelevato'"
            mac-autocomplete-source="autocompletionData"
            mac-autocomplete-delay="300"
            ng-model="l.accountName"
            ng-blur="$last && l.account && $parent.addLine(trans.clients)"
            gm-account
            /></div>
	 <div class="error-message" ng-show="lineForm.account.$error.accountMatch">Nome non valido</div>
	 <div class="error-message" ng-show="lineForm.account.$error.amountWithoutAccount">Specificare chi ha versato</div>
    </div>
    <div class="row-amount">
     <input type="number"
            name="amount"
            placeholder="Quanto"
            ng-model="l.amount"
            ng-blur="$parent.updateTotalAmount() || ($last && l.account && $parent.addLine(trans.clients))"
            gm-currency
            id="amount{{$index}}"
            /> <!-- TODO: fare text + smart-float! -->
	 <div class="error-message" ng-show="lineForm.amount.$error.number">Inserisci un numero</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.decimals">Troppi decimali</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.accountWithoutAmount">Specificare l'importo</div>
    </div>
    <div class="row-notes">
     <input type="text"
            placeholder="Note"
            ng-model="l.notes"
            ng-blur="$last && l.account && $parent.addLine(trans.clients)"
            />
    </div>
    </ng:form>
   </div>

   <div ng-show="autocompletionDataError">
     Caricamento fallito. Causa: {{autocompletionDataError}}.
   </div>
  </div>
  <div class="actions">
   <div>Data ritiro: <input type="date" ng-model="trans.tdate"/>, note: <input type="text" ng-model="trans.tdesc"/><br/>
       <span ng-show="!currencyError && totalAmount > 0">Totale prelievi: {{totalAmount | currency : currency[1] }}</span>
       <span ng-show="currencyError">I conti selezionati non sono omogenei per moneta.</span>
       <span ng-show="!currencyError && !totalAmount">Nessun versamento inserito finora.</span>
       </div>
   <button ng-if="trans.transId != 'new'" ng-click="reloadForm()">Annulla</button>
   <button ng-disabled="!csaId || !deposit.$valid || !totalAmount" ng-click="saveWithdrawal()">Registra in cassa</button>
   <button ng-disabled="confirmDelete" ng-show="trans.transId != 'new'" ng-click="confirmDeleteTransaction()">Elimina la registrazione dei prelievi</button>
   <button ng-if="confirmDelete" ng-click="deleteTransaction()">Conferma eliminazione</button>
  </div>
 </div>
 <div ng-show="tsaveError" class="deposit-post-save">
   <div ng-show="tsaveError" class="msg">
     Registrazione fallita. Causa: {{tsaveError}}.
   </div>
 </div>
</form>
