<h3>Attività sul sito: movimenti inseriti</h3>

<form class="form-inline transactions-index-search">
  <div class="form-group">
    <label for="transactionsIndexDescFilter">Filtra per descrizione</label>
    <input type="text" class="form-control" id="transactionsIndexDescFilter" placeholder="Cerca per descrizione o operatore" ng-model="pagination.filterBy.queryFilter"/>
  </div>
  <div class="form-group">
    <label for="transactionsIndexOrder">Ordina per</label>
    <select class="form-control" id="transactionsIndexOrder" ng-model="pagination.filterBy.queryOrder">
      <option value="0">data operazione</option>
      <option value="1">data movimento</option>
      <option value="2">operatore</option>
      <option value="3">descrizione</option>
    </select>
  </div>

</form>

<table class="table transactions-index">
  <thead>
    <th class="mov-odate">Data operaz.</th>
    <th class="mov-tdesc">Descrizione movimento</th>
    <th class="mov-tdate">Data movim.</th>
    <th class="mov-oper">Operatore</th>
  </thead>

  <tbody>

    <tr ng-repeat="tl in items" ng-class="tl[6] ? 'acc-row mod' : 'acc-row'" ng-click="showTransaction(tl)">
      <!-- 0:l.id, 1:l.log_date, 2:l.op_type, 3:t.id, 4:t.description, 5:t.transaction_date, 6:t.modified_by_id, 7:t.cc_type, 8:p.id, 9:p.first_name, 10:p.middle_name, 11:p.last_name -->
      <td class="mov-odate">{{ tl[1] | date:"shortDate" }}</td>
      <td class="mov-tdesc"><span class="tdesc">{{ tl[4] }}</span><span class="otype">{{ tl[2] == 'A' ? 'aggiunta' : tl[2] == 'M' ? 'modifica' : tl[2] == 'D' ? 'cancellazione' : tl[2] }}</span></td>
      <td class="mov-tdate">{{ tl[5] | date:"shortDate" }}</td>
      <td class="mov-oper">{{ (tl[9] || '') + ' ' + (tl[10] || '') + ' ' + (tl[11] || '') }}</td>
    </tr>

  </tbody>
</table>

<div ng-show="items == null && !pageError">
  <div class="message">Sto caricando i dati, un attimo di pazienza.</div>
</div>

<div ng-show="pageError">
  <div class="server-error">
    <p>Qualcosa è andato storto: {{ serverError }}</p>
  </div>
</div>

<div class="row-fluid pagination-section">
    <div class="col-xs-8">
        <uib-pagination total-items="pagination.totalItems"
                        items-per-page="pagination.pageSize"
                        ng-model="pagination.page"
                        max-size="6"
                        class="pagination-sm"
                        boundary-links="true"
                        previous-text="<"
                        next-text=">"
                        first-text="<<"
                        last-text=">>"></uib-pagination>
        <span class="pagination-count">Trovati: {{ pagination.totalItems }}</span>
    </div>

    <div class="col-xs-4 text-right">
        <form class="form-inline">
            <div class="form-group pagination">
                <label for="pageSize">Righe per pagina:</label>
                <select class="form-control" id="pageSize" ng-model="pagination.pageSize">
                    <option ng-repeat="sz in pagination.pageSizes">{{ sz }}</option>
                </select>
            </div>
        </form>
    </div>
</div>
