<div ng-if="readonly" class="transaction">

  <h3>Pagamenti</h3>

  <div class="form-group">
    <label class="col-sm-2 control-label">Data ritiro:</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ trans.tdate | date }}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Note:</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ trans.tdesc }}</p>
    </div>
  </div>

  <h4>Chi ha ritirato i prodotti:</h4>

  <div ng-repeat="l in trans.clients | filter:filledLine" class="row">
    <div class="col-sm-6">
      <p class="form-control-static"><span ng-repeat="p in l.accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" href="{{ p.pid && viewableContacts ? '#/person/' + p.pid + '/detail' : '#/account/' + l.account + '/detail'}}">{{p.name}}</a><span ng-hide="$last">, </span></span></p>
    </div>
    <div class="col-sm-2">
      <p class="form-control-static">{{ l.amount | currency : currency[1] }}</p>
    </div>
    <div class="col-sm-4">
      <p class="form-control-static">{{ l.notes }}</p>
    </div>
  </div>

  <div ng-hide="!(trans.producers | filter:filledLine).length">
    <h4>Produttori:</h4>

    <div ng-repeat="l in trans.producers | filter:filledLine" class="row transaction-line">
      <div class="col-sm-6">
        <p class="form-control-static"><span ng-repeat="p in l.accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" href="{{ p.pid && viewableContacts ? '#/person/' + p.pid + '/detail' : '#/account/' + l.account + '/detail'}}">{{p.name}}</a><span ng-hide="$last">, </span></span></p>
      </div>
      <div class="col-sm-2">
        <p class="form-control-static">{{ l.amount | currency : currency[1] }}</p>
      </div>
      <div class="col-sm-4">
        <p class="form-control-static">{{ l.notes }}</p>
      </div>
    </div>
  </div>

  <div class="header" ng-hide="!(trans.expensesKitty | filter:filledLine).length">
    <h4>Altre spese:</h4>

    <div ng-repeat="l in trans.expensesKitty | filter:filledLine" class="row transaction-line">
      <div class="col-sm-6">
        <p class="form-control-static">{{ l.notes }}</p>
      </div>
      <div class="col-sm-2">
        <p class="form-control-static">{{ l.amount | currency : currency[1] }}</p>
      </div>
    </div>
  </div>

  <div class="header" ng-hide="!(trans.incomesKitty | filter:filledLine).length">
    <h4>Sconti / donazioni:</h4>

    <div ng-repeat="l in trans.incomesKitty | filter:filledLine" class="row transaction-line">
      <div class="col-sm-6">
        <p class="form-control-static">{{ l.notes }}</p>
      </div>
      <div class="col-sm-2">
        <p class="form-control-static">{{ l.amount | currency : currency[1] }}</p>
      </div>
    </div>
  </div>

  <div class="row" ng-show="!currencyError && totalAmount > 0 && difference == .0">
    <div class="col-sm-6">
      <p class="form-control-static text-info">Totale pagamenti:</p>
    </div>
    <div class="col-sm-2">
      <p class="form-control-static text-info">{{totalAmount | currency : currency[1] }}</p>
    </div>
  </div>

  <p class="alert alert-info">Movimento inserito da <span ng-if="!viewableContacts">{{operator.first_name}} {{operator.last_name}}</span><a ng-if="viewableContacts" href="#/person/{{operator.pid}}/detail">{{operator.first_name}} {{operator.last_name}}</a>, il {{log_date | date}}.</p>

  <p ng-show="modifies" class="alert alert-info">Questo inserimento ne modifica uno precedente. <button class="btn btn-info" ng-click="showTransaction(modifies)">Esamina</button></p>

  <p class="alert alert-warning" ng-show="modified_by">
    <em>Attenzione</em>. Questo inserimento è stato annullato da una successiva modifica. <button class="btn btn-info" ng-click="showTransaction(modified_by)">Esamina</button>
  </p>

  <button class="btn btn-primary" ng-show="canEdit && !modified_by" ng-click="modifyTransaction()">Modifica o cancella</button>

</div>


<form ng-if="!readonly" ng-controller="TransactionPayment" name="payment" class="form-horizontal transaction" ng-submit="return;">

  <h3 ng-if="trans.transId == null">Inserisci pagamenti</h3>
  <h3 ng-if="trans.transId != null">Modifica pagamenti</h3>

  <div class="form-group">
    <label for="tdate" class="col-sm-2 control-label">Data consegna:</label>
    <div class="col-sm-10">
      <input id="tdate" class="form-control" type="date" ng-model="trans.tdate"/>
    </div>
  </div>
  <div class="form-group">
    <label for="tdesc" class="col-sm-2 control-label">Descrizione e note:</label>
    <div class="col-sm-10">
      <textarea id="tdesc" class="form-control" ng-model="trans.tdesc"></textarea>
    </div>
  </div>

  <h4>Chi ha ritirato i prodotti:</h4>

  <div ng-repeat="l in trans.clients" class="row transaction-line">
    <ng:form name="lineForm">
      <div class="col-sm-6">
        <label for="accountc{{ $index }}" class="sr-only">Conto per la riga {{ $index }}</label>
		<ui-select id="accountc{{ $index }}"
                   theme="bootstrap"
                   name="account"
                   ng-model="l.account"
                   on-select="checkCurrencies() || ($last && l.account && $parent.addLine(trans.clients))"
                   required-if="l.amount"
                   ng-keypress="$event.keyCode == 13 && focusElement('#amountc' + $index)"
                   >
		  <ui-select-match placeholder="Chi ha ordinato">{{ $select.selected.name }}</ui-select-match>
		  <ui-select-choices repeat="accountInfo.acc as accountInfo in autocompletionData | filter: {name: $select.search} track by accountInfo.acc">
		    <div ng-bind-html="accountInfo.name | highlight: $select.search"></div>
		  </ui-select-choices>
		</ui-select>
	    <p class="text-danger" ng-show="lineForm.account.$error.required">Specificare chi ha pagato</p>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="amountc{{ $index }}" class="sr-only">Importo per la riga {{ $index }}</label>
          <div class="input-group">
            <input class="form-control"
               type="text"
               name="amount"
               placeholder="Quanto"
               ng-model="l.amount"
               ng-blur="$parent.updateTotalAmount() || ($last && l.account && $parent.addLine(trans.clients))"
               gm-currency="2"
               id="amountc{{ $index }}"
               />
            <div class="input-group-addon">{{ accountCurrency(l.account) }}</div>
          </div>
          <p class="text-danger" ng-show="lineForm.amount.$error.number">Inserisci un numero</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.decimals">Troppi decimali</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.required">Specificare l'importo</p>
        </div>
      </div>
      <div class="col-sm-4">
        <input class="form-control"
               type="text"
               placeholder="Note"
               ng-model="l.notes"
               ng-blur="$last && l.account && $parent.addLine(trans.clients)"
               />

      </div>
    </ng:form>
  </div>
  <div class="row" ng-show="!currencyError && totalAmount > 0">
    <div class="col-sm-6">
      <p class="form-control-static text-info">Totale pagato:</p>
    </div>
    <div class="col-sm-2">
      <p class="form-control-static text-info">{{ totalAmount | currency : currency[1] }}</p>
    </div>
  </div>

  <h4>Produttori e chi ha sostenuto spese di gestione (ad esempio i bonifici):</h4>

  <div ng-repeat="l in trans.producers" class="row transaction-line">
    <ng:form name="lineForm">
      <div class="col-sm-6">
        <label for="accountp{{ $index }}" class="sr-only">Conto per la riga {{ $index }}</label>
		<ui-select id="accountp{{ $index }}"
                   theme="bootstrap"
                   name="account"
                   ng-model="l.account"
                   on-select="checkCurrencies() || ($last && l.account && $parent.addLine(trans.producers))"
                   required-if="l.amount"
                   ng-keypress="$event.keyCode == 13 && focusElement('#amountp' + $index)"
                   >
		  <ui-select-match placeholder="Produttore">{{ $select.selected.name }}</ui-select-match>
		  <ui-select-choices repeat="accountInfo.acc as accountInfo in autocompletionData | filter: {name: $select.search} track by accountInfo.acc">
		    <div ng-bind-html="accountInfo.name | highlight: $select.search"></div>
		  </ui-select-choices>
		</ui-select>
	    <p class="text-danger" ng-show="lineForm.account.$error.required">Specificare il produttore</p>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="amountp{{ $index }}" class="sr-only">Importo per la riga {{ $index }}</label>
          <div class="input-group">
            <input class="form-control"
               type="text"
               name="amount"
               placeholder="Quanto"
               ng-model="l.amount"
               ng-blur="$parent.updateTotalInvoice(lineForm) || ($last && l.account && $parent.addLine(trans.producers))"
               gm-currency="2"
               id="amountp{{ $index }}"
               />
            <div class="input-group-addon">{{ accountCurrency(l.account) }}</div>
          </div>
          <p class="text-danger" ng-show="lineForm.amount.$error.number">Inserisci un numero</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.decimals">Troppi decimali</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.required">Specificare l'importo</p>
        </div>
      </div>
      <div class="col-sm-4">
        <input class="form-control"
               type="text"
               placeholder="Note"
               ng-model="l.notes"
               ng-blur="$last && l.account && $parent.addLine(trans.producers)"
               />

      </div>
    </ng:form>
  </div>
  <div class="row" ng-show="!currencyError && totalInvoice > 0">
    <div class="col-sm-6">
      <p class="form-control-static text-info">Totale versato:</p>
    </div>
    <div class="col-sm-2">
      <p class="form-control-static text-info">{{ totalInvoice | currency : currency[1] }}</p>
    </div>
  </div>

  <h4>Importi compensati dalla cassa comune (ad esempio per uova rotte):</h4>

  <div ng-repeat="l in trans.expensesKitty" class="row transaction-line">
    <ng:form name="lineForm">
      <div class="col-sm-6">
        <label for="expensesKitty{{ $index }}" class="sr-only">Note per la riga {{ $index }}</label>
        <input id="expensesKitty{{ $index }}"
               class="form-control"
               type="text"
               name="notes"
               placeholder="Descrizione"
               ng-model="l.notes"
               required-if="l.amount"
               ng-blur="$last && l.notes && $parent.addLine(trans.expensesKitty, 'KITTY')"
               />
	    <p class="text-danger" ng-show="lineForm.notes.$error.required">Inserire una descrizione</p>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="amountek{{ $index }}" class="sr-only">Importo per la riga {{ $index }}</label>
          <div class="input-group">
            <input class="form-control"
               type="text"
               name="amount"
               placeholder="Quanto"
               ng-model="l.amount"
               ng-blur="$parent.updateTotalExpensesKitty() || ($last && l.notes && $parent.addLine(trans.expensesKitty, 'KITTY'))"
               gm-currency="2"
               id="amountek{{ $index }}"
               />
            <div class="input-group-addon">{{ accountCurrency(l.account) }}</div>
          </div>
          <p class="text-danger" ng-show="lineForm.amount.$error.number">Inserisci un numero</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.decimals">Troppi decimali</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.required">Specificare l'importo</p>
        </div>
      </div>
    </ng:form>
  </div>

  <h4>Sconti / donazioni:</h4>

  <div ng-repeat="l in trans.incomesKitty" class="row transaction-line">
    <ng:form name="lineForm">
      <div class="col-sm-6">
        <label for="incomesKitty{{ $index }}" class="sr-only">Note per la riga {{ $index }}</label>
        <input id="incomesKitty{{ $index }}"
               class="form-control"
               type="text"
               name="notes"
               placeholder="Descrizione"
               ng-model="l.notes"
               required-if="l.amount"
               ng-blur="$last && l.notes && $parent.addLine(trans.incomesKitty, 'KITTY')"
               />
	    <p class="text-danger" ng-show="lineForm.notes.$error.required">Inserire una descrizione</p>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="amountek{{ $index }}" class="sr-only">Importo per la riga {{ $index }}</label>
          <div class="input-group">
            <input class="form-control"
               type="text"
               name="amount"
               placeholder="Quanto"
               ng-model="l.amount"
               ng-blur="$parent.updateTotalIncomesKitty() || ($last && l.notes && $parent.addLine(trans.incomesKitty, 'KITTY'))"
               gm-currency="2"
               id="amountek{{ $index }}"
               />
            <div class="input-group-addon">{{ accountCurrency(l.account) }}</div>
          </div>
          <p class="text-danger" ng-show="lineForm.amount.$error.number">Inserisci un numero</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.decimals">Troppi decimali</p>
          <p class="text-danger" ng-show="lineForm.amount.$error.required">Specificare l'importo</p>
        </div>
      </div>
    </ng:form>
  </div>
  <div class="row" ng-show="!currencyError && totalKitty > 0">
    <div class="col-sm-6">
      <p class="form-control-static text-info">La cassa comune cresce di:</p>
    </div>
    <div class="col-sm-2">
      <p class="form-control-static text-info">{{ totalKitty | currency : currency[1] }}</p>
    </div>
  </div>
  <div class="row" ng-show="!currencyError && totalKitty < 0">
    <div class="col-sm-6">
      <p class="form-control-static text-info">La cassa comune scende di:</p>
    </div>
    <div class="col-sm-2">
      <p class="form-control-static text-info">{{ - totalKitty | currency : currency[1] }}</p>
    </div>
  </div>

  <div class="row alert alert-danger" ng-show="!currencyError && difference > .0">
    <div class="col-sm-6">
      <p class="form-control-static">Versamenti non sufficienti, importo mancante:</p>
    </div>
    <div class="col-sm-2">
      <p class="form-control-static">{{ difference | currency: currency[1] }}</p>
    </div>
  </div>
  <div class="row alert alert-danger" ng-show="!currencyError && difference < .0">
    <div class="col-sm-6">
      <p class="form-control-static">Versamenti eccessivi, importo in eccesso:</p>
    </div>
    <div class="col-sm-2">
      <p class="form-control-static">{{ - difference | currency: currency[1] }}</p>
    </div>
  </div>
  <div class="row" ng-show="currencyError">
    <p class="alert alert-warning">I conti selezionati non sono omogenei per moneta.</p>
  </div>
  <div class="row" ng-show="!currencyError && !totalAmount">
    <p class="alert alert-warning">Nessun dato inserito finora.</p>
  </div>

  <div class="row">
    <button class="btn btn-default" ng-if="trans.transId != 'new'" ng-click="reloadForm()">Annulla</button>
    <button class="btn btn-default" ng-disabled="!csaId || !payment.$valid || !totalAmount || difference > .0" ng-click="savePayment()">Registra in cassa</button>
    <button class="btn btn-default" ng-disabled="confirmDelete" ng-show="trans.transId != 'new'" ng-click="confirmDeleteTransaction()">Elimina la registrazione dei pagamenti</button>
    <button class="btn btn-default" ng-if="confirmDelete" ng-click="deleteTransaction()">Conferma eliminazione</button>
  </div>

 <div ng-show="tsaveError" class="deposit-post-save">
   <div ng-show="tsaveError" class="msg">
     Registrazione fallita. Causa: {{tsaveError}}.
   </div>
 </div>
</form>
