<div ng-if="readonly" class="transaction">

    <h3>Pagamenti</h3>

    <div class="container">
        <div class="form-group">
            <label class="col-sm-2 control-label">Data ritiro:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{ trans.tdate | date }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Note:</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{ trans.tdesc }}</p>
            </div>
        </div>
    </div>

    <div class="container transaction-section" ng-if="(trans.clients | filter:filledLine).length">
        <h4>Chi ha ritirato i prodotti:</h4>

        <div ng-repeat="l in trans.clients | filter:filledLine" class="row">
            <div class="col-sm-6">
                <p class="form-control-static"><span ng-repeat="p in l.accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" href="{{ p.pid && viewableContacts ? '#/person/' + p.pid + '/detail' : '#/account/' + l.account + '/detail'}}">{{p.name}}</a><span ng-hide="$last">, </span></span></p>
            </div>
            <div class="col-sm-2">
                <p class="form-control-static text-right">{{ l.amount | currency : currency[1] }}</p>
            </div>
            <div class="col-sm-4">
                <p class="form-control-static">{{ l.notes }}</p>
            </div>
        </div>

        <div class="row" ng-show="!currencyError && totalAmount > 0">
            <div class="col-sm-6 bg-success">
                <p class="form-control-static">Totale pagamenti:</p>
            </div>
            <div class="col-sm-2 bg-success">
                <p class="form-control-static text-right">{{totalAmount | currency : currency[1] }}</p>
            </div>
        </div>
    </div>

    <div class="container transaction-section" ng-if="(trans.producers | filter:filledLine).length">
        <h4>Produttori e chi ha sostenuto spese di gestione:</h4>

        <div ng-repeat="l in trans.producers | filter:filledLine" class="row">
            <div class="col-sm-6">
                <p class="form-control-static"><span ng-repeat="p in l.accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" href="{{ p.pid && viewableContacts ? '#/person/' + p.pid + '/detail' : '#/account/' + l.account + '/detail'}}">{{p.name}}</a><span ng-hide="$last">, </span></span></p>
            </div>
            <div class="col-sm-2">
                <p class="form-control-static text-right">{{ l.amount | currency : currency[1] }}</p>
            </div>
            <div class="col-sm-4">
                <p class="form-control-static">{{ l.notes }}</p>
            </div>
        </div>

        <div class="row" ng-show="!currencyError && totalInvoice > 0">
            <div class="col-sm-6 bg-warning">
                <p class="form-control-static text-info">Totale spesa:</p>
            </div>
            <div class="col-sm-2 bg-warning">
                <p class="form-control-static text-right">{{totalInvoice | currency : currency[1] }}</p>
            </div>
        </div>
    </div>

    <div class="container transaction-section" ng-if="(trans.kittyLines | filter:filledLineWithDescription).length">
        <h4>Compensazioni con cassa comune:</h4>

        <div ng-repeat="l in trans.kittyLines | filter:filledLineWithDescription" class="row">
            <div class="col-sm-6">
                <p class="form-control-static">{{ l.notes }}</p>
            </div>
            <div class="col-sm-2">
                <p class="form-control-static text-right">{{ l.amount | currency : currency[1] }}</p>
            </div>
        </div>
    </div>

    <div class="container transaction-section" ng-if="totalKitty - difference != 0.0">
        <div class="row">
            <div class="col-sm-6" ng-class="{ 'bg-danger': totalKitty - difference < 0.0, 'bg-success': totalKitty - difference > 0.0 }">
                <p class="form-control-static">Compensazione in cassa comune:</p>
            </div>
            <div class="col-sm-2" ng-class="{ 'bg-danger': totalKitty - difference < 0.0, 'bg-success': totalKitty - difference > 0.0 }">
                <p class="form-control-static text-right">{{ totalKitty - difference | currency : currency[1] }}</p>
            </div>
        </div>
    </div>

    <p class="alert alert-info">Movimento inserito da <span ng-if="!viewableContacts">{{operator.first_name}} {{operator.last_name}}</span><a ng-if="viewableContacts" href="#/person/{{operator.pid}}/detail">{{operator.first_name}} {{operator.last_name}}</a>, il {{log_date | date}}.</p>

    <p ng-show="modifies" class="alert alert-info">Questo inserimento ne modifica uno precedente. <button class="btn btn-info" ng-click="showTransaction(modifies)">Esamina</button></p>

    <p class="alert alert-warning" ng-show="modified_by">
        <em>Attenzione</em>. Questo inserimento è stato annullato da una successiva modifica. <button class="btn btn-info" ng-click="showTransaction(modified_by)">Esamina</button>
    </p>

    <button class="btn btn-primary" ng-show="canEdit && !modified_by" ng-click="modifyTransaction()">Modifica o cancella</button>

</div>


<form ng-if="!readonly" ng-controller="TransactionPayment" name="payment" class="form-horizontal transaction">

    <h3 ng-if="trans.transId == null">Inserisci pagamenti</h3>
    <h3 ng-if="trans.transId != null">Modifica pagamenti</h3>

    <div class="container">
        <div class="form-group">
            <label for="tdate" class="col-sm-2 control-label">Data consegna:</label>
            <div class="col-sm-10">
                <input id="tdate" name="tdate" class="form-control" type="date" ng-model="trans.tdate" gm-check-tdate />
                <p class="text-danger" ng-show="deposit.tdate.$error.trans_date_below">Data antecedente all'apertura di almeno uno fra i conti indicati</p>
                <p class="text-danger" ng-show="deposit.tdate.$error.trans_date_above">Data successiva alla chiusura di almeno uno fra i conti indicati</p>
            </div>
        </div>
        <div class="form-group">
            <label for="tdesc" class="col-sm-2 control-label">Descrizione e note:</label>
            <div class="col-sm-10">
                <textarea id="tdesc" class="form-control" ng-model="trans.tdesc"></textarea>
            </div>
        </div>
    </div>

    <div class="container transaction-section">
        <h4>Chi ha ritirato i prodotti:</h4>

        <div ng-repeat="l in trans.clients" class="row">
            <ng:form name="lineForm">
                <div class="col-sm-6">
                    <label for="accountc{{ $index }}" class="sr-only">Conto per la riga {{ $index }}</label>
                    <ui-select id="accountc{{ $index }}"
                               ng-if="!l.readonly"
                               theme="bootstrap"
                               name="account"
                               ng-model="l.account"
                               on-select="checkCurrencies() || ($last && l.account && addLine(trans.clients))"
                               required-if="l.amount"
                               ng-keypress="$event.keyCode == 13 && focusElement('#amountc' + $index)"
                    >
                        <ui-select-match placeholder="Chi ha ordinato">{{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices repeat="accountInfo.acc as accountInfo in autocompletionData | filter: {name: $select.search} track by accountInfo.acc">
                            <div ng-bind-html="accountInfo.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <select id="accountc{{ $index }}"
                            ng-if="l.readonly"
                            class="form-control"
                            disabled>
                        <option selected>{{ formatNamesForOption(l.accountNames) }}</option>
                    </select>
                    <p class="text-danger" ng-show="lineForm.account.$error.required">Specificare chi ha pagato</p>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="amountc{{ $index }}" class="sr-only">Importo per la riga {{ $index }}</label>
                        <div class="input-group">
                            <input class="form-control"
                                   type="text"
                                   name="amount"
                                   placeholder="Quanto"
                                   ng-model="l.amount"
                                   ng-blur="updateTotalAmount() || ($last && l.account && addLine(trans.clients))"
                                   gm-currency="currencyDigits()"
                                   id="amountc{{ $index }}"
                                   ng-readonly="l.readonly"
                            />
                            <div class="input-group-addon">{{ accountCurrency(l.account) }}</div>
                        </div>
                        <p class="text-danger" ng-show="lineForm.amount.$error.number">Inserisci un numero</p>
                        <p class="text-danger" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</p>
                        <p class="text-danger" ng-show="lineForm.amount.$error.decimals">Troppi decimali</p>
                        <p class="text-danger" ng-show="lineForm.amount.$error.required">Specificare l'importo</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <input class="form-control"
                           type="text"
                           placeholder="Note"
                           ng-model="l.notes"
                           ng-blur="$last && l.account && addLine(trans.clients)"
                           ng-readonly="l.readonly"
                    />
                </div>
            </ng:form>
        </div>
        <div class="row" ng-show="!currencyError">
            <div class="col-sm-6 bg-success">
                <p class="form-control-static text-info">Totale pagato:</p>
            </div>
            <div class="col-sm-2 bg-success">
                <p class="form-control-static text-info text-right">{{ totalAmount | currency : currency[1] }}</p>
            </div>
        </div>
    </div>

    <div class="container transaction-section">
        <h4>Produttori e chi ha sostenuto spese di gestione:</h4>
        <small>Esempio di spesa di gestione: il solo costo della commissione bancaria per il bonifico.</small>

        <div ng-repeat="l in trans.producers" class="row">
            <ng:form name="lineForm">
            <div class="col-sm-6">
                <label for="accountp{{ $index }}" class="sr-only">Conto per la riga {{ $index }}</label>
                <ui-select id="accountp{{ $index }}"
                           ng-if="!l.readonly"
                           theme="bootstrap"
                           name="account"
                           ng-model="l.account"
                           on-select="checkCurrencies() || ($last && l.account && addLine(trans.producers))"
                           required-if="l.amount"
                           ng-keypress="$event.keyCode == 13 && focusElement('#amountp' + $index)"
                >
                    <ui-select-match placeholder="Produttore">{{ $select.selected.name }}</ui-select-match>
                    <ui-select-choices repeat="accountInfo.acc as accountInfo in autocompletionData | filter: {name: $select.search} track by accountInfo.acc">
                        <div ng-bind-html="accountInfo.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <select id="accountp{{ $index }}"
                        ng-if="l.readonly"
                        class="form-control"
                        disabled
                >
                    <option selected>{{ formatNamesForOption(l.accountNames) }}</option>
                </select>
                <p class="text-danger" ng-show="lineForm.account.$error.required">Specificare il produttore</p>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="amountp{{ $index }}" class="sr-only">Importo per la riga {{ $index }}</label>
                    <div class="input-group">
                        <input class="form-control"
                               type="text"
                               name="amount"
                               placeholder="Quanto"
                               ng-model="l.amount"
                               ng-blur="updateTotalInvoice(lineForm) || ($last && l.account && addLine(trans.producers))"
                               gm-currency="currencyDigits()"
                               id="amountp{{ $index }}"
                               ng-readonly="l.readonly"
                        />
                        <div class="input-group-addon">{{ accountCurrency(l.account) }}</div>
                    </div>
                    <p class="text-danger" ng-show="lineForm.amount.$error.number">Inserisci un numero</p>
                    <p class="text-danger" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</p>
                    <p class="text-danger" ng-show="lineForm.amount.$error.decimals">Troppi decimali</p>
                    <p class="text-danger" ng-show="lineForm.amount.$error.required">Specificare l'importo</p>
                </div>
            </div>
                <div class="col-sm-4">
                    <input class="form-control"
                           type="text"
                           placeholder="Note"
                           ng-model="l.notes"
                           ng-blur="$last && l.account && addLine(trans.producers)"
                           ng-readonly="l.readonly"
                    />
                </div>
            </ng:form>
        </div>
        <div class="row" ng-show="!currencyError">
            <div class="col-sm-6 bg-warning">
                <p class="form-control-static text-info">Totale da pagare:</p>
            </div>
            <div class="col-sm-2 bg-warning">
                <p class="form-control-static text-info text-right">{{ totalInvoice | currency : currency[1] }}</p>
            </div>
        </div>
    </div>

    <div class="container transaction-section">
        <h4>Compensazioni da cassa comune:</h4>

        <div ng-repeat="l in trans.kittyLines" class="row">
            <ng:form name="lineForm">
                <div class="col-sm-6">
                    <label for="kittyLine{{ $index }}" class="sr-only">Note per la riga {{ $index }}</label>
                    <input id="kittyLine{{ $index }}"
                           class="form-control"
                           type="text"
                           name="notes"
                           placeholder="Descrizione"
                           ng-model="l.notes"
                           required-if="l.amount"
                    />
                    <p class="text-danger" ng-show="lineForm.notes.$error.required">Inserire una descrizione</p>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="amountk{{ $index }}" class="sr-only">Importo per la riga {{ $index }}</label>
                        <div class="input-group">
                            <input class="form-control"
                                   type="text"
                                   name="amount"
                                   placeholder="Quanto"
                                   ng-model="l.amount"
                                   gm-currency="currencyDigits()"
                                   gm-negative-amount-allowed="true"
                                   id="amountk{{ $index }}"
                                   ng-blur="updateTotalKittyLines(lineForm)"
                            />
                            <div class="input-group-addon">{{ accountCurrency(l.account) }}</div>
                        </div>
                        <p class="text-danger" ng-show="lineForm.amount.$error.number">Inserisci un numero</p>
                        <p class="text-danger" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</p>
                        <p class="text-danger" ng-show="lineForm.amount.$error.decimals">Troppi decimali</p>
                        <p class="text-danger" ng-show="lineForm.amount.$error.required">Specificare l'importo</p>
                    </div>
                </div>
            </ng:form>
        </div>
        <div class="row" ng-show="!currencyError">
            <div class="col-sm-6" ng-class="{ 'bg-danger': totalKitty - difference < 0.0, 'bg-success': totalKitty - difference >= 0.0 }">
                <p class="form-control-static text-info">Totale compensazioni:</p>
            </div>
            <div class="col-sm-2" ng-class="{ 'bg-danger': totalKitty - difference < 0.0, 'bg-success': totalKitty - difference >= 0.0 }">
                <p class="form-control-static text-info text-right">{{ totalKitty - difference | currency : currency[1] }}</p>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-xs btn-link" ng-if="difference != 0.0" ng-click="addLine(trans.kittyLines, 'KITTY')">Specifica motivazioni / note</button>
            </div>
        </div>
        <div class="row" ng-show="currencyError">
            <p class="alert alert-warning">I conti selezionati non sono omogenei per moneta.</p>
        </div>
        <div class="row" ng-show="!currencyError && !totalAmount">
            <p class="alert alert-warning">Nessun dato inserito finora.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <button type="button" class="btn btn-danger" ng-if="trans.transId != 'new'" ng-click="reloadForm()">Annulla</button>
            <button type="button" class="btn btn-primary" ng-disabled="!payment.$valid || (!totalAmount && !totalInvoice)" ng-click="savePayment()">Registra in cassa</button>
            <button type="button" class="btn btn-danger" ng-disabled="confirmDelete" ng-show="trans.transId != 'new'" ng-click="confirmDeleteTransaction()">Elimina la registrazione dei pagamenti</button>
            <button type="button" class="btn btn-danger" ng-if="confirmDelete" ng-click="deleteTransaction()">Conferma eliminazione</button>
        </div>
    </div>

    <div ng-show="tsaveError" class="deposit-post-save">
        <div class="msg">Registrazione fallita: <span ng-repeat="msg in tsaveError">{{ msg }}</span>.</div>
    </div>
</form>
