.people-admin .last-access {
  position: absolute;
  right: 1em;
  top: 1em;
  color: gray;
  font-size: smaller;
}

.selected-person .last-access {
  color: gray;
  font-size: smaller;
  position: relative;
  top: -10px;
}
