@import "bootstrap/less/bootstrap.less";
@import (inline) "angular-ui-select/dist/select.css";

@import "utils.less";
@import "loading.less";
@import "footer.less";

@import "pagination.less";

@import "cookie_banner.less";
@import "accounts_index.less";
@import "transactions.less";

html, body {
  height: 100%;
}

.avatar {
  width: 30px;
  height: 30px;
  margin: -7px 3px -7px 0;
}
