.transactions-index .otype {
  display: block;
  font-size: smaller;
  font-style: italic;
  color: gray;
}

.transaction-section {
  border: 1px solid lightgrey;
//  border-radius: .5em;
//  overflow: hidden;
  margin-bottom: .5em;
}