/* app css stylesheet */

.frontpage {
	font-family: Arial, sans-serif;
}

.frontpage .title {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}

.frontpage p {
	
}

.frontpage a {
	display: block;
	text-align: center;
}

.frontpage .notes {
	font-size: small;
	margin-top: 30px;
	color: gray;
}

.main {
	font-family: Arial, sans-serif;

	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	justify-content: center;
	align-items: stretch;
}

.main .left-col {
	width: 200px;
	margin-right: 20px;
}

.main .left-col .profile-info {
	border: 1px solid gray;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}

.main .left-col .functions {
	border: 1px solid gray;
	border-radius: 10px;
	padding: 5px;
}

.main .left-col ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.accounts-index {
	width: 500px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.accounts-index .body {
	width:500px;
	overflow: auto;
	flex-grow: 1;
}

.accounts-index .body .acc-row {
	position: relative;
	height: 30px;
}

.accounts-index .body .acc-row:hover {
	background-color: #eef;
}

.accounts-index .body .acc-name {
	position: absolute;
	left: 0;
	top: 0;
	width: 400px;
	height: 30px;

	line-height: 30px;
}

.accounts-index .body .acc-amount {
	position: absolute;
	right: 0px;
	top: 0;
	width: 100px;
	height: 30px;
	overflow: hidden;

	line-height: 30px;
}


.account-details {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.account-details .movements {
	overflow: hidden;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.account-details .movements .header {
	position: relative;
	height: 40px;
	font-weight: bold;
	flex: none;
}

.account-details .movements .body {
	width:500px;
	overflow: auto;
	flex-grow: 1;
}

.account-details .movements .mov-row {
	position: relative;
	height: 30px;
}

.account-details .movements .mov-row:hover {
	background-color: #eef;
}

.account-details .movements .mov-data {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 30px;

	line-height: 30px;
}

.account-details .movements .mov-desc {
	position: absolute;
	left: 102px;
	top: 0;
	width: 296px;
	height: 30px;
	overflow: hidden;

	line-height: 30px;
}

.account-details .movements .mov-amount {
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 30px;

	text-align: right;

	line-height: 30px;
}

.account-details .amount {
	width: 500px;
	display: block;
	text-align: right;
	flex: none;
}

.account-details .amount.negative {
	color: #f77;
	font-weight: bolder;
}
