<div ng-if="readonly" class="deposit">
 <div class="lines-table">
  <div class="body">
  <div class="actions">
   <div><label for="tdate">Data ritiro:</label><span class="field">{{trans.tdate | date}}</span></div>
   <div><label for="tdesc">Note:</label><span class="field">{{trans.tdesc}}</span></div>
  </div>
  <div class="header" ng-hide="autocompletionDataError">
   Chi ha versato:
  </div>
   <div ng-repeat="l in trans.producers | filter:filledLine" class="row">
    <div class="row-who field"><span ng-repeat="p in l.accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" href="{{ p.pid && viewableContacts ? '#/person/' + p.pid + '/detail' : '#/account/' + l.account + '/detail'}}">{{p.name}}</a><span ng-hide="$last">, </span></span></div>
    <div class="row-amount field">{{l.amount | currency : currency[1] }}</div>
    <div class="row-notes field">{{l.notes}}&nbsp;</div>
   </div>

   <div class="header receiver" ng-hide="autocompletionDataError">
    Chi ha ricevuto il denaro:
    <span class="field"><span ng-repeat="p in trans.clients[0].accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" href="{{ p.pid && viewableContacts? '#/person/' + p.pid + '/detail' : '#/account/' + trans.clients[0].account + '/detail'}}">{{p.name}}</a><span ng-hide="$last">, </span></span></span>
   </div>

   <div ng-show="autocompletionDataError">
     Caricamento fallito. Causa: {{autocompletionDataError}}.
   </div>
  </div>
  <div class="actions">
   <div>
       <span ng-show="!currencyError && totalInvoice > 0">Totale accrediti: {{totalInvoice | currency : currency[1] }}</span>
   </div>
   <div>
       Movimento inserito da <span ng-if="!viewableContacts">{{operator.first_name}} {{operator.last_name}}</span><a ng-if="viewableContacts" href="#/person/{{operator.pid}}/detail">{{operator.first_name}} {{operator.last_name}}</a>, il {{log_date | date}}.
   </div>
   <div ng-show="modifies">
       Questo inserimento ne modifica uno precedente. <button ng-click="showTransaction(modifies)">Esamina</button>
   </div>
   <div ng-show="modified_by">
	   <em>Attenzione</em>. Questo inserimento è stato annullato da una successiva modifica. <button ng-click="showTransaction(modified_by)">Esamina</button>
   </div>
   <button ng-show="canEdit && !modified_by" ng-click="modifyTransaction()">Modifica o cancella</button>
<!--
   <button ng-disabled="!csaId || !deposit.$valid || !totalInvoice || !receiver.account" ng-click="saveCashExchange()">Registra in cassa</button>
   <button ng-disabled="confirmDelete" ng-show="transId != 'new'" ng-click="confirmCancelCashExchange()">Elimina la registrazione degli accrediti</button>
   <button ng-show="confirmDelete" ng-click="cancelCashExchange()">Conferma eliminazione</button>
-->
  </div>
 </div>
</div>
<form ng-if="!readonly" ng-controller="TransactionCashExchange" name="deposit" class="deposit" ng-submit="return;">
 <div class="lines-table">
  <div class="body">
  <div class="actions">
   <div class="line"><label for="tdate">Data ritiro:</label><input type="date" id="tdate" ng-model="trans.tdate"/></div>
   <div class="line"><label for="tdesc">Note:</label><textarea ng-model="trans.tdesc"></textarea></div>
  </div>
  <div class="header" ng-hide="autocompletionDataError">
   Inserisci gli accrediti:
  </div>
   <div ng-repeat="l in trans.producers" class="row">
    <ng:form name="lineForm">
    <div class="row-who">
     <div><mac-autocomplete
            name="account"
            autocomplete="off"
            mac-placeholder="'Chi ha versato'"
            mac-autocomplete-source="autocompletionData"
            mac-autocomplete-delay="300"
            mac-autocomplete-on-select="focusAmount('amount')"
            ng-model="l.accountName"
            ng-blur="$last && l.account && $parent.addLine(trans.producers)"
            gm-account
            /></div>
	 <div class="error-message" ng-show="lineForm.account.$error.accountMatch">Nome non valido</div>
	 <div class="error-message" ng-show="lineForm.account.$error.amountWithoutAccount">Specificare chi ha versato</div>
    </div>
    <div class="row-amount">
     <input type="number"
            name="amount"
            placeholder="Quanto"
            ng-model="l.amount"
            ng-blur="$parent.updateTotalInvoice() || ($last && l.account && $parent.addLine(trans.producers))"
            gm-amount
            id="amount{{$index}}"
            /> <!-- TODO: fare text + smart-float! -->
	 <div class="error-message" ng-show="lineForm.amount.$error.number">Inserisci un numero</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.decimals">Troppi decimali</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.accountWithoutAmount">Specificare l'importo</div>
    </div>
    <div class="row-notes">
     <input type="text"
            placeholder="Note"
            ng-model="l.notes"
            ng-blur="$last && l.account && $parent.addLine(trans.producers)"
            />
    </div>
    </ng:form>
   </div>

   <div class="header receiver" ng-hide="autocompletionDataError">
    Chi ha ricevuto il denaro:
    <span><mac-autocomplete
     name="receiver"
     autocomplete="off"
     mac-autocomplete-source="autocompletionData"
     mac-autocomplete-delay="300"
     ng-model="trans.clients[0].accountName"
     gm-account2
     /></span>
	 <span class="error-message" ng-show="deposit.receiver.$error.accountMatch">Nome non valido</span>
	 <span class="error-message" ng-show="deposit.receiver.$error.accountDefined">Specificare chi ha ritirato</span>
   </div>

   <div ng-show="autocompletionDataError">
     Caricamento fallito. Causa: {{autocompletionDataError}}.
   </div>
  </div>
  <div class="actions">
   <div>
       <span ng-show="!currencyError && totalInvoice > 0">Totale accrediti: {{totalInvoice | currency : currency[1] }}</span>
       <span class="error-message" ng-show="currencyError">I conti selezionati non sono omogenei per moneta.</span>
       <span class="error-message" ng-show="!currencyError && !totalInvoice">Nessun versamento inserito finora.</span>
       </div>
   <button ng-if="trans.transId != 'new'" ng-click="reloadForm()">Annulla</button>
   <button ng-disabled="!csaId || !deposit.$valid || !totalInvoice || !trans.clients[0].account" ng-click="saveCashExchange()">Registra in cassa</button>
   <button ng-disabled="confirmDelete" ng-show="trans.transId != 'new'" ng-click="confirmDeleteTransaction()">Elimina la registrazione degli accrediti</button>
   <button ng-if="confirmDelete" ng-click="deleteTransaction()">Conferma eliminazione</button>
  </div>
 </div>
 <div ng-show="tsaveError" class="deposit-post-save">
   <div ng-show="tsaveError" class="msg">
     Registrazione fallita. Causa: {{tsaveError}}.
   </div>
 </div>
</form>
