<div ng-if="readonly" class="deposit">
 <div class="lines-table">
  <div class="body">
  <div class="actions">
   <div><label for="tdate">Data ritiro:</label><span class="field">{{trans.tdate | date}}</span></div>
   <div><label for="tdesc">Note:</label><span class="field">{{trans.tdesc}}</span></div>
  </div>
  <div class="header" ng-hide="autocompletionDataError">
   Chi ha versato:
  </div>
   <div ng-repeat="l in trans.producers | filter:filledLine" class="row">
    <div class="row-who field"><span ng-repeat="p in l.accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" href="{{ p.pid && viewableContacts ? '#/person/' + p.pid + '/detail' : '#/account/' + l.account + '/detail'}}">{{p.name}}</a><span ng-hide="$last">, </span></span></div>
    <div class="row-amount field">{{l.amount | currency : currency[1] }}</div>
    <div class="row-notes field">{{l.notes}}&nbsp;</div>
   </div>

   <div class="header receiver" ng-hide="autocompletionDataError">
    Chi ha ricevuto il denaro:
    <span class="field"><span ng-repeat="p in trans.clients[0].accountNames"><span ng-if="!viewableContactsOrAccounts">{{p.name}}</span><a ng-if="viewableContactsOrAccounts" href="{{ p.pid && viewableContacts? '#/person/' + p.pid + '/detail' : '#/account/' + trans.clients[0].account + '/detail'}}">{{p.name}}</a><span ng-hide="$last">, </span></span></span>
   </div>

   <div ng-show="autocompletionDataError">
     Caricamento fallito. Causa: {{autocompletionDataError}}.
   </div>
  </div>
  <div class="actions">
   <div>
       <span ng-show="!currencyError && totalInvoice > 0">Totale accrediti: {{totalInvoice | currency : currency[1] }}</span>
   </div>
   <div>
       Movimento inserito da <span ng-if="!viewableContacts">{{operator.first_name}} {{operator.last_name}}</span><a ng-if="viewableContacts" href="#/person/{{operator.pid}}/detail">{{operator.first_name}} {{operator.last_name}}</a>, il {{log_date | date}}.
   </div>
   <div ng-show="modifies">
       Questo inserimento ne modifica uno precedente. <button ng-click="showTransaction(modifies)">Esamina</button>
   </div>
   <div ng-show="modified_by">
	   <em>Attenzione</em>. Questo inserimento è stato annullato da una successiva modifica. <button ng-click="showTransaction(modified_by)">Esamina</button>
   </div>
   <button ng-show="canEdit && !modified_by" ng-click="modifyTransaction()">Modifica o cancella</button>
<!--
   <button ng-disabled="!csaId || !deposit.$valid || !totalInvoice || !receiver.account" ng-click="saveCashExchange()">Registra in cassa</button>
   <button ng-disabled="confirmDelete" ng-show="transId != 'new'" ng-click="confirmCancelCashExchange()">Elimina la registrazione degli accrediti</button>
   <button ng-show="confirmDelete" ng-click="cancelCashExchange()">Conferma eliminazione</button>
-->
  </div>
 </div>
</div>


<form ng-if="!readonly" ng-controller="TransactionCashExchange" name="deposit" class="form-horizontal transaction" ng-submit="return;">

  <div class="form-group">
    <label for="tdate" class="col-sm-2 control-label">Data ritiro:</label>
    <div class="col-sm-10">
      <input id="tdate" class="form-control" type="date" ng-model="trans.tdate"/>
    </div>
  </div>
  <div class="form-group">
    <label for="tdesc" class="col-sm-2 control-label">Note:</label>
    <div class="col-sm-10">
      <textarea id="tdesc" class="form-control" ng-model="trans.tdesc"></textarea>
    </div>
  </div>

  <h4 ng-hide="autocompletionDataError">Inserisci gli accrediti:</h4>

  <div ng-repeat="l in trans.producers" class="row">
    <ng:form name="lineForm">
      <div class="col-sm-6">
		<ui-select theme="bootstrap"
                   name="account"
                   ng-model="l.accountName"
                   >
		  <ui-select-match placeholder="Chi ha versato">{{$select.selected.name}}</ui-select-match>
		  <ui-select-choices repeat="accountInfo.name as accountInfo in autocompletionData | filter: {name: $select.search} track by accountInfo.acc">
		    <div ng-bind-html="accountInfo.name | highlight: $select.search"></div>
		  </ui-select-choices>
		</ui-select>
      </div>
      <div class="col-sm-2">
        <input class="form-control"
               type="number"
               name="amount"
               placeholder="Quanto"
               ng-model="l.amount"
               ng-blur="$parent.updateTotalInvoice() || ($last && l.account && $parent.addLine(trans.producers))"
               gm-amount
               id="amount{{$index}}"
               />
      </div>
      <div class="col-sm-4">
        <input class="form-control"
               type="text"
               placeholder="Note"
               ng-model="l.notes"
               ng-blur="$last && l.account && $parent.addLine(trans.producers)"
               />

      </div>
    </ng:form>
  </div>

  <h4 ng-hide="autocompletionDataError">Chi ha ricevuto il denaro:</h4>

  <div class="row">
    <p class="bg-info" ng-show="!currencyError && totalInvoice > 0">Totale accrediti: {{totalInvoice | currency : currency[1] }}</p>
    <p class="bg-warning" ng-show="currencyError">I conti selezionati non sono omogenei per moneta.</p>
    <p class="bg-warning" ng-show="!currencyError && !totalInvoice">Nessun versamento inserito finora.</p>
    <button class="btn btn-default" ng-if="trans.transId != 'new'" ng-click="reloadForm()">Annulla</button>
    <button class="btn btn-default" ng-disabled="!csaId || !deposit.$valid || !totalInvoice || !trans.clients[0].account" ng-click="saveCashExchange()">Registra in cassa</button>
    <button class="btn btn-default" ng-disabled="confirmDelete" ng-show="trans.transId != 'new'" ng-click="confirmDeleteTransaction()">Elimina la registrazione degli accrediti</button>
    <button class="btn btn-default" ng-if="confirmDelete" ng-click="deleteTransaction()">Conferma eliminazione</button>
  </div>

<!--
 <div class="lines-table">
  <div class="body">
   <div ng-repeat="l in trans.producers" class="row">
    <ng:form name="lineForm">
    <div class="row-who">
     <div><mac-autocomplete
            name="account"
            autocomplete="off"
            mac-placeholder="'Chi ha versato'"
            mac-autocomplete-source="autocompletionData"
            mac-autocomplete-delay="300"
            mac-autocomplete-on-select="focusAmount('amount')"
            ng-model="l.accountName"
            ng-blur="$last && l.account && $parent.addLine(trans.producers)"
            gm-account
            /></div>
	 <div class="error-message" ng-show="lineForm.account.$error.accountMatch">Nome non valido</div>
	 <div class="error-message" ng-show="lineForm.account.$error.amountWithoutAccount">Specificare chi ha versato</div>
    </div>
    <div class="row-amount">
     <input type="number"
            name="amount"
            placeholder="Quanto"
            ng-model="l.amount"
            ng-blur="$parent.updateTotalInvoice() || ($last && l.account && $parent.addLine(trans.producers))"
            gm-amount
            id="amount{{$index}}"
            /> <!- - TODO: fare text + smart-float! - ->
	 <div class="error-message" ng-show="lineForm.amount.$error.number">Inserisci un numero</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.positive">Importo negativo o nullo</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.decimals">Troppi decimali</div>
	 <div class="error-message" ng-show="lineForm.amount.$error.accountWithoutAmount">Specificare l'importo</div>
    </div>
    <div class="row-notes">
     <input type="text"
            placeholder="Note"
            ng-model="l.notes"
            ng-blur="$last && l.account && $parent.addLine(trans.producers)"
            />
    </div>
    </ng:form>
   </div>

   <div class="header receiver" ng-hide="autocompletionDataError">
    Chi ha ricevuto il denaro:
    <span><mac-autocomplete
     name="receiver"
     autocomplete="off"
     mac-autocomplete-source="autocompletionData"
     mac-autocomplete-delay="300"
     ng-model="trans.clients[0].accountName"
     gm-account2
     /></span>
	 <span class="error-message" ng-show="deposit.receiver.$error.accountMatch">Nome non valido</span>
	 <span class="error-message" ng-show="deposit.receiver.$error.accountDefined">Specificare chi ha ritirato</span>
   </div>

   <div ng-show="autocompletionDataError">
     Caricamento fallito. Causa: {{autocompletionDataError}}.
   </div>
  </div>
 </div>
 <div ng-show="tsaveError" class="deposit-post-save">
   <div ng-show="tsaveError" class="msg">
     Registrazione fallita. Causa: {{tsaveError}}.
   </div>
 </div>
-->
</form>
