<!doctype html>
<html ng-app="gassmanApp" lang="{{LOCALE}}">
<head>
 <meta charset="utf-8">
 <title>GASsMan</title>

 <link ng-if="profile.logged_user.rssFeedId" rel="alternate" type="application/rss+xml" title="RSS" href="/rss/{{! profile.logged_user.rssFeedId }}" />

 <link rel="stylesheet" href="{{ static_url('css/html5reset-1.6.1.css') }}">
 <link rel="stylesheet" href="{{ static_url('css/macgyver.css') }}">
 <link rel="stylesheet" href="{{ static_url('css/app.min.css') }}">
 <link href="{{ static_url('css/app.min.css') }}" rel="stylesheet">
 <link href="{{ static_url('css/hover.min.css') }}" rel="stylesheet">
</head>
<body>

<div class="main">

 <div class="left-col" ng-controller="MenuController">

  <div class="profile-info" ng-show="profile == profileError">
   <p>Caricamento in corso...</p>
  </div>
  <div class="profile-info" ng-show="profileError">
   <p>Dati personali non disponibili: {{!profileError}}.</p>
  </div>
  <div class="profile-info" ng-show="profile">
   <p><a href="#/person/{{! profile.logged_user.id }}/detail">{{!profile.logged_user.firstName}} {{! profile.logged_user.middleName}} {{! profile.logged_user.lastName}}</a></p>
   <p ng-show="amount == amountError">Caricamento in corso...</p>
   <p ng-show="amountError">Saldo personale non disponible: {{! amountError }}.</p>
   <p ng-show="amount" class="amount {{! amountClass }}">Saldo: {{! amount | currency : currencySymbol }}</p>
  </div>
  <div class="functions" ng-show="functions.length">
   <ul>
    <li ng-show="csa"><a href="#/csa/{{! csa.id }}/detail">{{! csa.name }}</a>
    <li ng-repeat="f in functions" ng-class="f.class">
     <a href="{{!f.f}}" ng-if="f.f">{{!f.l}}</a>
     <span ng-if="!f.f">{{!f.l}}</span>
    </li>
   </ul>
  </div>

  <div class="footer">
   <a href="#/faq" class="faq">FAQ</a>
   <a href="#/help" class="troubleshoting">Aiuto</a>
   <a href="#/project" class="project">Progetto</a>
   <a ng-if="profile.logged_user.rssFeedId" href="/rss/{{! profile.logged_user.rssFeedId }}">RSS</a>
  </div>

 </div>


<div ng-view class="right-col"></div>
</div>

    <script src="{{ static_url('js/app.min.js') }}"></script>
</body>
</html>
